<% include ./partials/header %>


    <body
        class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page"
        data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
        <!-- BEGIN: Content-->
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W39K27R" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body" id="login_card">
                    <% include ../../partials/flash %>
                        <section class="row flexbox-container">
                            <div class="col-xl-6 col-lg-7 col-sm-9 col-12 d-flex justify-content-center mx-auto px-3">
                                <div class="col-xl-12 card bg-authentication rounded mb-0 shadow px-0 card-placement">
                                    <div class="row m-0">
                                        <div
                                            class="col-lg-12 col-sm-12 col-12 text-center align-self-center px-1 py-0 logo_sec">
                                            <img src="/images/logo/logo.png" alt="branding logo"
                                                class="img-fluid brand_logo py-1 w-25">
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-12 col-12 p-0">
                                            <div
                                                class="card rounded-0 mb-0 px-xl-2 px-lg-2 px-md-2 px-sm-0 px-0 card-placement-bottom">
                                                <div class="card-header pb-1 px-1">
                                                    <div class="card-title">
                                                        <h4>Institute Portal</h4>
                                                    </div>
                                                </div>
                                                <p class="card-header pt-0 px-1">Please login to your account</p>
                                                <div class="card-content  card-placement-bottom">
                                                    <div class="card-body px-1">
                                                        <ul class="nav nav-tabs justify-content-left" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="service-tab-center"
                                                                    data-toggle="tab" href="#"
                                                                    aria-controls="service-center" role="tab"
                                                                    aria-selected="false">Login</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="home-tab-center"
                                                                    data-toggle="tab" aria-controls="home-center"
                                                                    role="tab" aria-selected="true">Signup</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content mt-3">
                                                            <div class="tab-pane active" id="service-center"
                                                                aria-labelledby="service-tab-center" role="tabpanel">
                                                                <div class="card rounded-0 mb-0">
                                                                    <div class="card-content">
                                                                        <div class="card-body p-0">

                                                                            <fieldset
                                                                                class="input-group form-label-group form-group position-relative has-icon-left">
                                                                                <input type="tel" class="form-control"
                                                                                    maxlength="10"
                                                                                    onKeyPress="if(this.value.length==10) return false;"
                                                                                    id="user-input"
                                                                                    placeholder="Mobile / मोबाइल"
                                                                                    pattern="[0-9]{10}" value=""
                                                                                    aria-label="Mobile Number"
                                                                                    aria-describedby="basic-addon2">
                                                                                <!-- <input type="text" class="form-control"
                                                                                   
                                                                                    id="user-input"
                                                                                    placeholder="Mobile / Email" value=""
                                                                                    aria-label="Mobile Number / Email"
                                                                                    aria-describedby="basic-addon2"> -->
                                                                                <div class="form-control-position">
                                                                                    <i class="fa-regular fa-user"></i>
                                                                                </div>
                                                                                <!-- <div class="input-group-append">
                                                                                    <button
                                                                                        class="btn btn-primary float-right btn-inline waves-effect waves-light text-white"
                                                                                        type="button"
                                                                                        id="generate-otp">Send
                                                                                        OTP</button>
                                                                                </div> -->
                                                                            </fieldset>
                                                                            <fieldset class="input-group form-label-group form-group position-relative has-icon-left">
                                                                                <div class="form-control-position" onclick="togglePassword()">
                                                                                    <i class="fa-regular fa-eye" id="toggleIcon"></i>
                                                                                </div>
                                                                                <input type="password"
                                                                                    placeholder="Enter your password"
                                                                                    id="userPassword" class="form-control">
                                                                                   
                                                                            </fieldset>

                                                                            <!-- <div class="row">
                                                                                <div
                                                                                    class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mt-1">
                                                                                    <a class="btn btn-primary float-right btn-inline waves-effect waves-light text-white btn-block"
                                                                                        id="login-btn">
                                                                                        Login</a>
                                                                                </div>
                                                                                
                                                                            </div> -->
                                                                            <!-- <fieldset
                                                                                class="form-label-group position-relative has-icon-left"
                                                                                id="user-otp">
                                                                                <input type="number"
                                                                                    class="form-control" id="otp-input"
                                                                                    placeholder="Enter OTP / अपना ओटीपी दर्ज करें"
                                                                                    value="">
                                                                                <div class="form-control-position">
                                                                                    <i class="feather icon-send"></i>
                                                                                </div>
                                                                                <label for="Enter OTP">Enter
                                                                                    OTP</label>
                                                                            </fieldset> -->
                                                                            <p class="pt-0 px-0 mb-0">I agree to <a
                                                                                    href="/employersTermsofService"
                                                                                    target="_blank">Employers terms of
                                                                                    use</a> and <a href="/userAgreement"
                                                                                    target="_blank">User Agreement</a>.
                                                                            </p>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mt-1">
                                                                                    <a class="btn btn-primary float-right btn-inline waves-effect waves-light text-white btn-block"
                                                                                        id="login-btn">
                                                                                        Login</a>
                                                                                </div>
                                                                                <!-- <div
                                                                                    class="colx-l-6 col-lg-6 col-md-6 col-sm-6 col-6 mt-1">
                                                                                    <div class="btn btn-primary btn-block waves-effect waves-light text-white btn-block"
                                                                                        id="resend-btn"
                                                                                        style="padding: 1rem;">Resend
                                                                                        OTP</div>
                                                                                </div> -->
                                                                            </div>
                                                                            <div
                                                                                class="form-group d-flex justify-content-between align-items-center">
                                                                            </div>
                                                                            <div id="error"
                                                                                style="color:red; font-weight: bold;display:none;">
                                                                            </div>
                                                                            <div id="success"
                                                                                style="color:green;font-weight: bold; display:none;">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane " id="home-center"
                                                                aria-labelledby="home-tab-center" role="tabpanel">
                                                                <div class="card rounded-0 mb-0">
                                                                    <div class="card-content">
                                                                        <div class="card-body p-0">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>

                </div>
            </div>
        </div>
        <!-- END: Content-->
        <!-- BEGIN: Vendor JS-->
        <script src="app-assets/vendors/js/vendors.min.js"></script>
        <script type="text/javascript">
            const userInput = document.getElementById("user-input");
            const generateOTP = document.getElementById('generate-otp');
            const otpField = document.getElementById("user-otp");
            const password = document.getElementById("userPassword");
            const resendBtn = document.getElementById("resend-btn");
            loginBtn = document.getElementById('login-btn')
             $('#home-tab-center').attr('href', `/college/register${window.location.search}`)
            // userInput.addEventListener("keypress", (e) => {
            //     let k = e.which;
            //     if (k > 58 || k < 48)
            //         e.preventDefault();
            // })
            // $(loginBtn).hide();
            // $(resendBtn).hide();
            // resendBtn.addEventListener('click', (event) => {
            //     if ($(resendBtn).hasClass('disabled')) {
            //         return false
            //     }
            //     event.preventDefault();
            //     const body = { mobile: userInput.value }
            //     $.get("/api/resendOTP", body).then((res) => {
            //         if (res.status === true) {
            //             $('#error').text(' ')
            //             $('#error').hide()
            //             $('#success').show();
            //             $('#success').text("OTP resend");
            //             $('#resend-btn').addClass('disabled');
            //             let time = 20000;
            //             let interval = setInterval(function () {
            //                 time = time - 1000; //reduce each second
            //                 let timeleft = (time / 1000) % 60
            //                 $('#resend-btn').text(`Resend in ${timeleft} secs`)
            //                 if (time <= 0) {
            //                     $('#resend-btn').text('Resent OTP');
            //                     clearInterval(interval)
            //                     $('#resend-btn').removeClass('disabled')
            //                 }
            //             }, 1000);
            //         } else {
            //             $('#error').text(res.data.message);
            //             $('#error').show()
            //             $('#success').text(' ');
            //             $('#success').hide();
            //         }
            //     })
            // })
            // // $(loginBtn).hide();
            // $(otpField).hide()
            // generateOTP.addEventListener('click', (event) => {
            //     event.preventDefault();
            //     if (userInput.value.length !== 10) {
            //         $('#success').text(" ");
            //         $('#success').hide();
            //         $('#error').show();
            //         $('#error').text("Please enter the correct mobile number");
            //     } else {
            //         const body = { mobile: userInput.value, module: 'college' }
            //         axios.post("/api/sendOtp", body).then((res) => {
            //             if (res.data.status === true) {
            //                 $('#error').text(" ");
            //                 $('#error').hide()
            //                 $('#success').show();
            //                 $('#success').text("OTP sent successfully");
            //                 $(otpField).show();
            //                 $(generateOTP).hide();
            //                 $(loginBtn).show();
            //                 $(resendBtn).show();
            //                 $('#resend-btn').addClass('disabled')
            //                 let time = 20000;
            //                 let interval = setInterval(function () {
            //                     time = time - 1000; //reduce each second
            //                     let timeleft = (time / 1000) % 60
            //                     $('#resend-btn').text(`Resend in ${timeleft} secs`)
            //                     if (time <= 0) {
            //                         $('#resend-btn').text('Resend OTP');
            //                         clearInterval(interval)
            //                         $('#resend-btn').removeClass('disabled')
            //                     }
            //                 }, 1000);
            //             } else {
            //                 $('#error').text(res.data.message);
            //                 $('#error').show()
            //             }
            //         })
            //     }
            // })
            password.addEventListener('input', (event) => {
               
                    
                    const pass = event.target.value
                    let body;
                    body = {
                        mobile: userInput.value,
                        pass,
                        module: 'college'
                    }
                    loginBtn.addEventListener('click', () => {
                        axios.post('/api/verifyPass', body)
                            .then((res) => {
                                console.log(res)
                                if (res.data.status === true) {
                                    $('#error').text(" ");
                                    $('#error').hide()
                                    $('#success').show();
                                    $('#success').text("Password verified");
                                    axios.post("/api/otpLogin", body).then((res) => {
                                        if (res.data.status === true) {
                                            localStorage.setItem("collegeName", res.data.collegeName);
                                            localStorage.setItem("collegeId", res.data.collegeId);
                                            localStorage.setItem("name", res.data.name);
                                            localStorage.setItem("token", res.data.token);
                                            let returnUrl = getReturnUrl()
                                            if (returnUrl) {
                                                window.location.href = returnUrl
                                            } else {
                                                window.location.href = `/college/dashboard`;
                                            }

                                        } else {
                                            $('#success').text(" ");
                                            $('#success').hide();
                                            $('#error').show();
                                            $('#error').text("Login failed !!!");
                                        }
                                    })
                                } else {
                                    $('#success').text(" ");
                                    $('#success').hide();
                                    $('#error').show();
                                    $('#error').text("Incorrect Password");
                                }
                            }).catch((err) => {
                                console.log("Err response in login====>", err)
                                return res.status(500).send({ status: false, message: err })
                            })
                    })
                
            })
            // let input = document.getElementById("otp-input");
            // input.addEventListener("keypress", function (event) {
            //     if (event.key === "Enter") {
            //         event.preventDefault();
            //         document.getElementById("verify-login-btn").click();
            //     }
            // });
            // userInput.addEventListener("keypress", (e) => {
            //     if (e.key === "Enter" && e.target.value.length === 10) {
            //         e.preventDefault();
            //         generateOTP.click();
            //         setTimeout(() => {
            //             input.focus();
            //         }, 600)
            //     }
            // })

            function getReturnUrl() {
                const urlParams = new URLSearchParams(window.location.search);
                let returnUrl = urlParams.get('returnUrl')
                if (returnUrl) {
                    return decodeURIComponent(urlParams.get('returnUrl'));
                } else {
                    return false
                }
            }

        </script>
        <!-- BEGIN Vendor JS-->

        <!-- BEGIN: Page Vendor JS-->
        <!-- END: Page Vendor JS-->

        <!-- BEGIN: Theme JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script>
                 function togglePassword() {
        var passInput = document.getElementById("userPassword");
        var toggleIcon = document.getElementById("toggleIcon");

        if (passInput.type === "password") {
            passInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
            </script>
    </body>

    </html>