<% include ../../partials/header %>

    <body
        class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page"
        data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body" id="login_card">
                    <section class="row flexbox-container">
                        <div
                            class="col-xl-5 col-lg-5 col-md-6 col-sm-10 col-12 d-flex justify-content-center mx-auto px-0">
                            <div class="col-xl-12 card bg-authentication mb-0 shadow px-0">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center align-self-center px-1 py-0 logo_sec my-1">
                                        <img src="/images/logo/logo.png" alt="branding logo"
                                            class="img-fluid brand_logo brand-custom">
                                    </div>
                                    <div class="col-lg-12 col-12 p-0">
                                        <div
                                            class="card rounded-0 mb-0 px-xl-2 px-lg-2 px-md-2 px-sm-0 px-0 card-placement-bottom">
                                            <div class="mt-2 text-center pb-1 px-1">
                                                <div class="card-title">
                                                    <h4 class="">Institute Portal</h4>
                                                </div>
                                            </div>
                                            <p class=" text-center pt-0">Please signup for a new account</p>
                                            <div class="card-content card-placement-bottom">
                                                <div class="card-body px-1">
                                                    <ul class="nav nav-tabs justify-content-left" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="service-tab-center"
                                                                data-toggle="tab" aria-controls="service-center"
                                                                role="tab" aria-selected="false">Login</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="home-tab-center"
                                                                data-toggle="tab" href="#" aria-controls="home-center"
                                                                role="tab" aria-selected="true">Signup</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane" id="service-center"
                                                            aria-labelledby="service-tab-center" role="tabpanel">
                                                            <div class="card rounded-0 mb-0">
                                                                <div class="card-content">
                                                                    <div class="card-body p-0">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane active" id="home-center"
                                                            aria-labelledby="home-tab-center" role="tabpanel">
                                                            <div class="card rounded-0 mb-0">
                                                                <div class="card-content">
                                                                    <div class="card-body p-0">
                                                                        <form action="" method="post">
                                                                            <div class="row">


                                                                                <fieldset
                                                                                    class="form-label-group form-group position-relative has-icon-left col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        id="collegeName"
                                                                                        onkeypress="if(this.value.length==50) return false"
                                                                                        placeholder="Institute Name"
                                                                                        value="">


                                                                                    <div class="form-control-position">
                                                                                        <i
                                                                                            class="feather icon-user"></i>
                                                                                    </div>
                                                                                    <label for="user-name"></label>
                                                                                </fieldset>

                                                                                <fieldset
                                                                                    class="form-label-group form-group position-relative has-icon-left col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        id="concernedPerson"
                                                                                        onkeypress="if(this.value.length==15) return false"
                                                                                        placeholder="Concerned Person Name"
                                                                                        value="">


                                                                                    <div class="form-control-position">
                                                                                        <i
                                                                                            class="feather icon-user"></i>
                                                                                    </div>
                                                                                    <label for="user-name"></label>
                                                                                </fieldset>

                                                                                <fieldset
                                                                                    class="form-label-group form-group position-relative has-icon-left col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        id="user-mail"
                                                                                        onkeypress="if(this.value.length==30) return false"
                                                                                        placeholder="Email ID" value="">
                                                                                    <div class="form-control-position">
                                                                                        <i
                                                                                            class="feather icon-mail"></i>
                                                                                    </div>
                                                                                    <label for="user-name"></label>
                                                                                </fieldset>
                                                                                <fieldset
                                                                                    class="form-label-group form-group position-relative has-icon-left col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <label for="select">Choose an
                                                                                        option</label>
                                                                                    <select class="form-control"
                                                                                        id="select">
                                                                                        <option value="" disabled>Type
                                                                                            of Institute</option>
                                                                                        <option value="School">School
                                                                                        </option>
                                                                                        <option value="College">College
                                                                                        </option>
                                                                                        <option value="Computer Center">Computer Center
                                                                                        </option>
                                                                                        <option value="university">University
                                                                                        </option>
                                                                                    </select>
                                                                                    <div class="form-control-position">
                                                                                        <i
                                                                                            class="fa-solid fa-check"></i>
                                                                                    </div>
                                                                                </fieldset>

                                                                                <fieldset
                                                                                    class="form-label-group position-relative has-icon-left col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <input type="password"
                                                                                        class="form-control" id="pass"
                                                                                        placeholder="Create Password"
                                                                                        value="" onkeyup="verifyPassword()">
                                                                                    <div class="form-control-position"
                                                                                        onclick="togglePassword()">
                                                                                        <i class="fa-regular fa-eye"
                                                                                            id="toggleIcon"></i>
                                                                                    </div>
                                                                                    <!-- <label for="pass">Create Password</label> -->
                                                                                </fieldset>
                                                                                <fieldset
                                                                                    class="form-label-group position-relative has-icon-left col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <input type="password"
                                                                                        class="form-control"
                                                                                        id="confirmPass"
                                                                                        placeholder="Create Password"
                                                                                        value="" onkeyup="verifyPassword()">
                                                                                    <div class="form-control-position"
                                                                                        onclick="confirmTogglePassword()">
                                                                                        <i class="fa-regular fa-eye"
                                                                                            id="toggleBtn"></i>
                                                                                    </div>
                                                                                    <!-- <label for="pass">Create Password</label> -->
                                                                                </fieldset>

                                                                               
                                                                                <!-- Added by rajat -->
                                                                                <fieldset
                                                                                    class="input-group form-label-group form-group position-relative has-icon-left col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <input type="tel"
                                                                                        class="form-control"
                                                                                        maxlength="10"
                                                                                        onkeypress="if(this.value.length==10) return false"
                                                                                        id="user-number"
                                                                                        pattern="[0-9]{10}" value=""
                                                                                        placeholder="Mobile"
                                                                                        aria-label="Mobile Number"
                                                                                        aria-describedby="basic-addon2">
                                                                                    <div class="form-control-position">
                                                                                        <i
                                                                                            class="feather icon-phone"></i>
                                                                                    </div>
                                                                                    <div class="input-group-append">
                                                                                        <button
                                                                                            class="btn btn-primary float-right btn-inline waves-effect waves-light text-white"
                                                                                            type="button"
                                                                                            id="generate-otp">Send
                                                                                            OTP</button>
                                                                                    </div>
                                                                                </fieldset>

                                                                                <fieldset
                                                                                    class="form-label-group position-relative has-icon-left col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        id="user-otp"
                                                                                        placeholder="Enter your OTP"
                                                                                        value="" disabled>
                                                                                    <div class="form-control-position">
                                                                                        <i
                                                                                            class="feather icon-lock"></i>
                                                                                    </div>
                                                                                    <label for="user-otp">Enter the
                                                                                        OTP</label>
                                                                                </fieldset>
                                                                                <p class="pt-0 px-1">I agree to <a
                                                                                        href="/employersTermsofService"
                                                                                        target="_blank">Employers terms
                                                                                        of
                                                                                        use</a> and <a
                                                                                        href="/userAgreement"
                                                                                        target="_blank">User
                                                                                        Agreement</a>.
                                                                                </p>
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <a class="btn btn-primary btn-block waves-effect waves-light text-white"
                                                                                            id="submit-button"
                                                                                            style="padding: 1rem;">Signup</a>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                                                        <div class="btn btn-primary btn-block waves-effect waves-light text-white "
                                                                                            id="resend-btn"
                                                                                            style="padding: 1rem;">
                                                                                            Resend
                                                                                            OTP
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- Error messages -->
                                                                                <div>
                                                                                    &nbsp;
                                                                                </div>
                                                                                <div id="error"
                                                                                    style="color:rgb(243, 56, 56); font-weight: bold; display:none;">
                                                                                </div>
                                                                                <div id="success"
                                                                                    style="color:green;font-weight: bold; display:none;">
                                                                                </div>
                                                                                <div id="msg"></div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"
            integrity="sha512-OdkysyYNjK4CZHgB+dkw9xQp66hZ9TLqmS2vXaBrftfyJeduVhyy1cOfoxiKdi4/bfgpco6REu6Rb+V2oVIRWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
            const signupBtn = document.getElementById('submit-button');
            let input = document.getElementById("user-otp");
            const generateOTP = document.getElementById('generate-otp');
            const phoneNumber = document.getElementById('user-number');
            const resendBtn = document.getElementById('resend-btn');
            const password = document.getElementById('pass');
            const confirmPass = document.getElementById('confirmPass');
            const select = document.getElementById('select');
            $('#service-tab-center').attr('href', `/college/login${window.location.search}`)

            $(resendBtn).hide();
            $(signupBtn).hide();
            const otpField = document.getElementById("user-otp");
            resendBtn.addEventListener('click', (event) => {
                event.preventDefault();
                const body = { mobile: phoneNumber.value }
                $.get("/api/resendOTP", body).then((res) => {
                    if (res.status === true) {
                        $('#error').text(' ')
                        $('#error').hide()
                        $('#success').show();
                        $('#success').text("OTP resent");
                        $('#resend-btn').addClass('disabled');
                        let time = 20000;
                        let interval = setInterval(function () {
                            time = time - 1000; //reduce each second
                            let timeleft = (time / 1000) % 60
                            $('#resend-btn').text(`Resend in ${timeleft} secs`)
                            if (time <= 0) {
                                $('#resend-btn').text('Resend OTP');
                                clearInterval(interval)
                                $('#resend-btn').removeClass('disabled')
                            }
                        }, 1000);
                    } else {
                        $('#error').text(res.data.message);
                        $('#error').show()
                        $('#success').text(' ');
                        $('#success').hide();
                    }
                })
            })

            phoneNumber.addEventListener('input', (event) => {
                if (event.target.value.length === 10 || event.target.value.length === 12) {
                    let pattern = /[0-9]{10,12}/gm;
                    let test = pattern.test(event.target.value);
                    const body = { mobile: event.target.value, module: 'college' }
                    if (test === true) {
                        $('#error').text(" ");
                        $('#error').hide();
                        generateOTP.addEventListener('click', (event) => {
                            input.focus();
                            event.preventDefault();
                            axios.post("/api/sendOtptoRegister", body).then((res) => {
                                if (res.data.status === true) {
                                    $('#error').hide()
                                    $('#success').show();
                                    $('#success').text("OTP sent successfully.");
                                    otpField.disabled = false;
                                    $(generateOTP).hide();
                                    $(signupBtn).show();
                                    $(resendBtn).show();
                                    $('#resend-btn').addClass('disabled')
                                    let time = 20000;
                                    let interval = setInterval(function () {
                                        time = time - 1000; //reduce each second
                                        let timeleft = (time / 1000) % 60
                                        $('#resend-btn').text(`Resend in ${timeleft} secs`)
                                        if (time <= 0) {
                                            $('#resend-btn').text('Resend OTP');
                                            clearInterval(interval)
                                            $('#resend-btn').removeClass('disabled')
                                        }
                                    }, 1000);
                                } else {
                                    $('#error').text(res.data.message);
                                    $('#error').show()
                                    $('#success').hide();
                                }
                            })
                        })
                    } else {
                        $('#success').text(" ");
                        $('#success').hide();
                        $('#error').show();
                        $('#error').text("Enter a valid mobile number");
                        otpField.disabled = true
                    }
                } else {
                    $('#success').text(" ");
                    $('#success').hide();
                    $('#error').show();
                    $('#error').text("Enter a valid mobile number");
                    otpField.disabled = true
                }
            })
            otpField.addEventListener('input', (event) => {
                if (event.target.value.length === 4) {
                    $('#error').text(' ');
                    $('#error').hide();
                } else {
                    $('#success').text(' ');
                    $('#success').hide()
                    $('#error').show();
                    $('#error').text("Incorrect OTP");
                }
            })
            const collegeName = document.getElementById('collegeName');
            const concernedPerson = document.getElementById('concernedPerson');
            const email = document.getElementById('user-mail');
            const checkEmail = (email) => {
                let emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/
                return emailReg.test(email);
            }

            // firstName.addEventListener('keypress', (e) => {
            //     let k = e.which;
            //     if (k >= 65 && k <= 90) { }
            //     else if (k >= 97 && k <= 122) { }
            //     else { e.preventDefault() }
            // })

            concernedPerson.addEventListener('keypress', (e) => {
                let k = e.which;
                if (k >= 65 && k <= 90) { }
                else if (k >= 97 && k <= 122) { }
                else { e.preventDefault() }
            })
            phoneNumber.addEventListener('keypress', (e) => {
                let k = e.which;
                if (k > 58 || k < 48)
                    e.preventDefault();
            })

            signupBtn.addEventListener('click', () => {
                if (email.value.length && !checkEmail(email.value)) {
                    $('#msg').show()
                    $('#msg').text('Not a Valid Email!')
                }
                else if (collegeName.value.length !== 0 && concernedPerson.value.length !== 0 && phoneNumber.value.length !== 0 && otpField.value.length !== 0) {
                    let body;
                    body = { mobile: phoneNumber.value, otp: otpField.value, module: 'college' }
                    axios.post('/api/verifyOtp', body).then((res) => {
                        if (res.data.status === true) {
                            $('#error').text(' ');
                            $('#error').hide();
                            $('#success').show();
                            $('#success').text("OTP verified");
                            body = { collegeName: collegeName.value, concernedPerson: concernedPerson.value, email: email.value, mobile: phoneNumber.value, password:password.value,confirmPassword:confirmPass.value,type:select.value };
                            axios.post("/college/register", body).then((res) => {
                                if (res.data.status) {
                                    body = { mobile: phoneNumber.value, module: 'college' }
                                    axios.post("/api/otpLogin", body).then((res) => {
                                        if (res.data.status === true) {
                                            localStorage.setItem("collegeName", res.data.collegeName);
                                            localStorage.setItem("collegeId", res.data.collegeId);
                                            localStorage.setItem("name", res.data.name);
                                            localStorage.setItem("token", res.data.token);
                                            let returnUrl = getReturnUrl()
                                            if (returnUrl) {
                                                window.location.href = returnUrl
                                            } else {
                                                window.location.href = "/college/dashboard";
                                            }
                                        } else {
                                            $('#success').text(" ");
                                            $('#success').hide();
                                            $('#error').show();
                                            $('#error').text("Login failed !!!");
                                            window.location.href = "/college/login"
                                        }
                                    })
                                } else {
                                    $('#success').text(" ");
                                    $('#success').hide();
                                    $('#error').show();
                                    $('#error').text(res.data.error);
                                }
                            })
                        } else {
                            $('#success').text(' ');
                            $('#success').hide()
                            $('#error').show();
                            $('#error').text("Incorrect OTP");
                        }
                    })
                } else {
                    $('#success').text(" ");
                    $('#success').hide();
                    $('#error').show();
                    $('#error').text("Please fill all the fields !!!");
                }
            })

            input.addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("submit-button").click();
                }
            });
            phoneNumber.addEventListener('keypress', (e) => {
                if (e.key === "Enter" && e.target.value.length === 10) {
                    e.preventDefault();
                    generateOTP.click();
                    setTimeout(() => {
                        input.focus();
                    }, 600)
                }
            })
            function getReturnUrl() {
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.values?.length > 0) {
                    return decodeURIComponent(urlParams.get('returnUrl'));
                } else {
                    return false
                }
            }
        </script>
         <script>
            function togglePassword() {
                var passinput = document.getElementById("pass");
                var toggleIcon = document.getElementById("toggleIcon");

                if (passinput.type === "password") {
                    passinput.type = "text";
                    toggleIcon.classList.remove("fa-eye");
                    toggleIcon.classList.add("fa-eye-slash");
                }
                else {
                    passinput.type = "password";
                    toggleIcon.classList.remove("fa-eye-slash");
                    toggleIcon.classList.add("fa-eye")
                }
            }
            function confirmTogglePassword() {
                var passinput1 = document.getElementById("confirmPass");
                var toggleIcon1 = document.getElementById("toggleBtn");
                if (passinput1.type === "password") {
                    passinput1.type = "text";
                    toggleIcon1.classList.remove("fa-eye");
                    toggleIcon1.classList.add("fa-eye-slash");
                }
                else {
                    passinput1.type = "password";
                    toggleIcon1.classList.remove("fa-eye-slash");
                    toggleIcon1.classList.add("fa-eye")
                }
            }
            function verifyPassword() {
                var enterPass = document.getElementById("pass");
                var confirmPass = document.getElementById("confirmPass");

                if (enterPass.value === confirmPass.value) {
                    enterPass.style.border = "1px solid green";
                    confirmPass.style.border = "1px solid green";
                } else {
                    enterPass.style.border = "1px solid red";
                    confirmPass.style.border = "1px solid red";
                }
            }

        </script>
    </body>

    </html>