@media screen and (min-width: 1920px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 1261px) {
    .apply-thisjob{
        width: 100%!important;
    }
    .extra-job-info{
        width: 100%!important;
    }
}
@media screen and (max-width: 992px) {
    .apply-thisjob{
        width: 100%!important;
    }
    .extra-job-info{
        width: 100%!important;
    }
    .job-single-sec .job-overview ul li {
        width: 100%!important;
    }
}
@media screen and (max-width: 786px) {}
@media screen and (max-width: 576px) {
    .job-details h3 {
        margin-bottom: 0px!important;
    }

    
}
@media screen and (max-width: 440px) {
    .job-single-sec .job-overview ul li {
        width: 100%!important;
    }
}
@media screen and (max-width: 416px) {}
@media screen and (max-width: 350px) {}