<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
      <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                  <li class="nav-item mr-auto"><a class="navbar-brand">
                              <a href="/college"><img src="/images/logo/logo.png" class="logocs">
                              </a></li>
                  <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                                    class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                                    class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                                    data-ticon="icon-disc"></i></a></li>
            </ul>
      </div>
      <div class="shadow-bottom"></div>
      <div class="main-menu-content border border-left-0 border-right-0 border-bottom-0">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                  <li class="nav-item active"><a href="/college"><i class="feather icon-home"></i><span
                                    class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
                  </li>
                  <li class="nav-item"><a href="#"><i class="feather icon-plus"></i><span class="menu-title"
                                    data-i18n="Todo">Candidate</span></a>
                        <ul class="menu-content">
                              <li class=""><a href="/college/candidate/add"><i class="feather icon-menu"></i><span
                                                class="menu-item" data-i18n="Analytics">Add Candidate</span></a></li>
                              <li class=""><a href="/college/candidate"><i class="feather icon-list"></i><span
                                                class="menu-item" data-i18n="Analytics">All Candidates</span></a></li>
                              <li class=""><a href="/college/candidate/bulkUpload"><i
                                                class="feather icon-list"></i><span class="menu-item"
                                                data-i18n="Analytics">Bulk Upload</span></a></li>
                              <!-- <li class=""><a href="/college/candidate/listing"><i
                                                class="feather icon-list"></i><span class="menu-item"
                                                data-i18n="Analytics">Bulk Listing</span></a></li> -->
                        </ul>
                  </li>
                  <li class="nav-item"><a href="#"><i class="feather icon-plus"></i><span class="menu-title"
                                    data-i18n="Todo">Skill
                                    Analysis</span></a>
                        <ul class="menu-content">
                              <li class=""><a href="/college/skillTest/add"><i class="feather icon-menu"></i><span
                                                class="menu-item" data-i18n="Analytics">Add Skill Test</span></a></li>
                              <li class=""><a href="/college/skillTest"><i class="feather icon-list"></i><span
                                                class="menu-item" data-i18n="Analytics">All Skill Tests</span></a></li>
                        </ul>
                  </li>
                  <li class="nav-item"><a href="#"><i class="feather icon-plus"></i><span class="menu-title"
                                    data-i18n="Todo">Career
                                    Objective</span></a>
                        <ul class="menu-content">
                              <li class=""><a href="/college/careerObjective/add"><i
                                                class="feather icon-menu"></i><span class="menu-item"
                                                data-i18n="Analytics">Add Career Objective</span></a></li>
                              <li class=""><a href="/college/careerObjective"><i
                                                class="feather icon-list"></i><span class="menu-item"
                                                data-i18n="Analytics">All Career Objectives</span></a></li>
                        </ul>
                  </li>
                  <li class="nav-item"><a href="#"><i class="feather icon-plus"></i><span class="menu-title"
                                    data-i18n="Todo">Cover
                                    Letter</span></a>
                        <ul class="menu-content">
                              <li class=""><a href="/college/coverLetter/add"><i
                                                class="feather icon-menu"></i><span class="menu-item"
                                                data-i18n="Analytics">Add Cover Letter</span></a></li>
                              <li class=""><a href="/college/coverLetter"><i class="feather icon-list"></i><span
                                                class="menu-item" data-i18n="Analytics">All Cover Letters</span></a>
                              </li>
                        </ul>
                  </li>
                  <li class="nav-item"><a href="#"><i class="feather icon-plus"></i><span class="menu-title"
                                    data-i18n="Todo">Mock
                                    Interview</span></a>
                        <ul class="menu-content">
                              <li class=""><a href="/college/mockInterview/add"><i
                                                class="feather icon-menu"></i><span class="menu-item"
                                                data-i18n="Analytics">Add Mock Interview</span></a></li>
                              <li class=""><a href="/college/mockInterview"><i class="feather icon-list"></i><span
                                                class="menu-item" data-i18n="Analytics">All Mock Interviews</span></a>
                              </li>
                        </ul>
                  </li>
                  <!-- <li class="nav-item"><a href="/college/todo"><i class="ficon feather icon-check-square"></i><span class="menu-title"
                              data-i18n="List">Todo</span></a>
                              </li> -->
                                          <!-- <li class="nav-item"><a href="/college/sms"><i class="ficon feather icon-mail"></i><span class="menu-title"
                                    data-i18n="List">Sms Template</span></a>
                              </li> -->


                                          <!-- <li class="nav-item"><a href="#"><i class="feather icon-user-check"></i><span class="menu-title"
                        data-i18n="Todo">Superadmin</span></a>
                        <ul class="menu-content">
                        <li class=""><a href="add-company.html"><i class="feather icon-plus-square"></i><span class="menu-item"
                              data-i18n="Analyticssuper">Add Company</span></a></li>
                        <li class=""><a href="add-vacancy.html"><i class="feather icon-plus-square"></i><span class="menu-item"
                              data-i18n="Analyticssupera">Add Vacancy</span></a></li>
                        </ul>
                        </li> 
                  -->
            </ul>
      </div>
</div>