

<body>
  <div class="theme-layout" id="scrollup">
    <% include ./partials/navbar %>

    <section>
      <div class="block double-gap-top double-gap-bottom">
        <div
          data-velocity="-.1"
          style="
            background: url(/public_assets/images/resource/banner_home.webp)
              repeat scroll 50% 422.28px transparent;
          "
          class="parallax scrolly-invisible layer blackish"
        ></div>
        <!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="form-location-sec">
                
                <h3><strong>रोजगार खोजने का सबसे आसान तरीका !</strong></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block mb-0 pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="about-us">
                <div class="row">
                  <div class="col-lg-12">
                    <h3>About Focalyt</h3>
                  </div>
                  <div class="col-lg-7">
                    <p>
                      Focalyt is a job-oriented platform for both job searchers
                      and employers. The purpose of this portal is to create
                      work opportunities for Blue Collar Job seekers. We access
                      artificial intelligence-based technology to match
                      recruiters and candidates. Our AI-based mechanism enables
                      employers to check candidates profiles based on the hiring
                      requirements.
                    </p>
                    <p>
                      In other words, it allows them to recruit workers in large
                      capacity in a number of industries in India.
                    </p>
                    <p>
                      We are an equal opportunity employer and do not
                      discriminate on the basis of race, color, national origin,
                      ancestry, religion, age, sex, marital status, disability,
                      or veteran status.
                    </p>
                    <p>
                      In line with its promise to consistently empower the
                      blue-collared workforce, Focalyt is enabling opportunities
                      for millions looking out for a job across India
                    </p>
                  </div>
                  <div class="col-lg-5">
                    <img src="/public_assets/images/resource/bsd1new.jpg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block pt-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading">
                <h2>Focal Skill - Our Founding Company</h2>
                <span class="mt-2">
                  <img
                    src="/public_assets/images/fs1.png"
                    width="150"
                    height="70"
                  />
                </span>
                <span
                  >Focal Skill,is a team of professionals from various streams,
                  committed to reach out to the youth in the rural & urban
                  region and equip them with the knowledge and skill. Our core
                  responsibility is to empower them with livelihood
                  opportunities and train them to handle business opportunities
                  and future job opportunities using skill development.
                </span>
              </div>
              <div class="heading">
                <h2>Focalyt for SMEs/MSMEs</h2>
                <span
                  >Each month, more than 100000 candidates turn to Focalyt in
                  their search for work, making over <br />33,000 applications
                  every day.
                </span>
              </div>
              <div class="how-to-sec style2 lines">
                <div class="how-to">
                  <span class="how-icon"><i class="la la-user"></i></span>
                  <h3>Register an account</h3>
                  <p>
                    Post a job to tell us about your organization. We'll quickly
                    match you with the right talent.
                  </p>
                </div>
                <div class="how-to">
                  <span class="how-icon"
                    ><i class="la la-file-archive-o"></i
                  ></span>
                  <h3>Specify & search for candidates</h3>
                  <p>
                    Browse profiles, reviews, and profile videos before
                    interviewing top candidates.
                  </p>
                </div>
                <div class="how-to">
                  <span class="how-icon"><i class="la la-list"></i></span>
                  <h3>Apply for job</h3>
                  <p>
                    Use the Focalyt platform to chat, share files, and collaborate
                    from your desktop or on the go.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block gray">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading">
                <h2>Focalyt Site Stats</h2>
                <span
                  >Here we list our site stats and how many people we’ve helped
                  find a job and companies have found <br />recruits. It's
                  pretty awesome!</span
                >
              </div>
              <!-- Heading -->
              <div class="stats-sec style2">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="stats">
                      <span>18</span>
                      <h5>Jobs Posted</h5>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="stats">
                      <span>38</span>
                      <h5>Jobs Filled</h5>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="stats">
                      <span>67</span>
                      <h5>Companies</h5>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="stats">
                      <span>92</span>
                      <h5>Members</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <% include ./partials/footer %>

    <script
      src="/public_assets/js/jquery.scrollbar.min.js"
      type="text/javascript"
    ></script>
    <script>
      const shareData = {
        title: "MDN",
        text: "Learn web development on MDN!",
        url: "https://developer.mozilla.org",
      };

      const btn = document.querySelector("button");
      const resultPara = document.querySelector(".result");
    </script>
  </div>
</body>
