<%include ./newpartials/header%>
<body>
    <section class="header">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-light mt-2">
            <a class="navbar-brand" href="#">
              <img src="public_assets/images/newpage/logo-ha.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <!-- <span class="navbar-toggler-icon"></span> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" fill="none">
                <path d="M20 7L4 7" stroke="#FC2B5A" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M20 12L4 12" stroke="#FC2B5A" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M20 17L4 17" stroke="#FC2B5A" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="links ms-auto">
                <ul class="site-menu-main">
                  <li class="nav-item nav-item-has-children">
                    <a href="https://about.focalyt.com/" target="_blank" class="nav-link-item drop-trigger">About Us
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class='nav-link-item drop-trigger' target="_blank" href="/candidate/login">Jobs</a>
                  </li>
                  <li class="nav-item">
                    <a class='nav-link-item drop-trigger' href='/courses'>Courses</a>
                  </li>
                  <li class="nav-item d-xl-none d-lg-none d-md-none d-sm-block d-block">
                    <a class='nav-link-item drop-trigger' href='/contact'>Contact Us</a>
                  </li>
                  <!-- active -->
                  <li class="nav-item  d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">
                    <!-- active_menu -->
                    <a class='nav-link-item drop-trigger ' href='/contact'>Contact Us</a>
                  </li>
                  
                  <li class="nav-item">
                    <!-- Container for hoverable area -->
                    <div class="dropdown-container">
                      <!-- Login Text as a Span -->
                      <span class="nav-link-item drop-trigger active_menu" id="loginLink">LogIn</span>
                      
                      <!-- Dropdown Menu -->
                      <ul class="dropdown-menu" id="loginDropdown">
                        <li><a href="/company/login" class="dropdown-item">Login as Corporate</a></li>
                        <li><a href="/candidate/login" class="dropdown-item">Login as Student</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section id="skills">
    <div class="row">
      <div class="col-xl-12">
        <div class="position-relative">
          <div class="position-absolute top-0 end-0 text-center">
            <figure class="down_shape"></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="home-2_feature-section section-padding-120">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xxl-12 col-lg-7 col-md-9">
            <div class="section-heading">
                <h3 class="section-heading__title heading-md fw-bolder text-uppercase color-pink ">About Us</h3>
              <p class="text-black pt-2">Focalyt stands as a beacon in the realm of skill development and job placement, focusing specifically on the blue and gray collar workforce. Our mission is to empower young individuals by offering specialized skill courses that not only enhance their capabilities but also pave the way for lucrative job opportunities. We are dedicated to bridging the gap between education and employment, ensuring a seamless transition for our learners. With Focalyt, the journey is more than just acquiring skills – it's about continuous learning, earning livelihoods, and evolving professionally. Join us in shaping a future where learning is a catalyst for sustainable career growth and success.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center gutter-y-default" id="about_ctas">
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="700">
            <div id="student" class="role text-center shadow">
                <h4><i class="fas fa-rocket color-pink pt-2 pb-2"></i></h4>
              <h4 class="text-black fw-bold">Mission</h4>
              <p class="color-black pt-2 pb-4">Enable personal growth through education, empowering individuals to thrive and develop in their pursuits.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="700">
            <div id="employee" class="role text-center shadow">
                <h4><i class="far fa-eye color-pink pt-2 pb-2"></i></h4>
              <h4 class="text-black fw-bold">Vision</h4>
              <p class="text-black fw-normal pt-2 pb-4">Inspire transformative change, creating a world of innovation and limitless possibilities.</p>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="700">
            <div id="employer" class="role text-center shadow">
                <h4><i class="fas fa-hands-helping color-pink pt-2 pb-2"></i></h4>
              <h4 class="text-black fw-bold">Objective</h4>
              <p class="text-black fw-normal pt-2 pb-4">Outcomes by pursuing goals, propelling progress and ensuring continuous improvement towards excellence.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-12 aos-init aos-animate" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="700">
            <div id="educator" class="role text-center shadow">
                <h4><i class="fas fa-hand-peace color-pink pt-2 pb-2"></i></h4>
              <h4 class="text-black fw-bold">Core Principal</h4>
              <p class="text-black fw-normal pt-2 pb-4">Uphold integrity, guiding actions with transparency, honesty, and ethical conduct.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="d-none" id="how">
    <div class="home-2_content-section-1 section-padding-120" id="about">
      <div class="container">
        <div class="row row--custom d-xl-block d-lg-block d-md-none d-sm-none d-none">
          <div class="faq-4_main-section">
            <div class="container">
              <div class="row justify-content-center justify-content-lg-between gutter-y-40 ">
                <div class="col-xl-6 col-lg-12 "></div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mt-0">
                 <div class="content">
                   <div class="content-text-block">
                     <h2 class="content-title heading-md text-uppercase how_focal">
                       How Focalyt Works
                     </h2>
                   </div>
               </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-m-6 col-sm-6 col-6 my-auto">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="cotent-tab" tabindex="0">
                      <div class="accordion-style-7-wrapper">
                        <figure>
                          <img src="public_assets/images/newpage/index/steps/regi.png" class="img-fluid" draggable="false">
                        </figure>
                      </div>
                    </div>
                    <div class="tab-pane fade " id="account-tab-pane" role="tabpanel" aria-labelledby="cotent-tab" tabindex="0">
                      <div class="accordion-style-7-wrapper">
                        <figure>
                          <img src="public_assets/images/newpage/index/steps/setup.png" class="img-fluid" draggable="false">
                        </figure>
                      </div>
                    </div>
                    <div class="tab-pane fade " id="purchasing-tab-pane" role="tabpanel" aria-labelledby="cotent-tab" tabindex="0">
                      <div class="accordion-style-7-wrapper">
                        <figure>
                          <img src="public_assets/images/newpage/index/steps/skill.png" class="img-fluid" draggable="false">
                        </figure>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="technical-tab-pane" role="tabpanel" aria-labelledby="cotent-tab" tabindex="0">
                      <div class="accordion-style-7-wrapper">
                        <figure>
                          <img src="public_assets/images/newpage/index/steps/learning.png" class="img-fluid" draggable="false">
                        </figure>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="continous-tab-pane" role="tabpanel" aria-labelledby="cotent-tab" tabindex="0">
                      <div class="accordion-style-7-wrapper">
                        <figure>
                          <img src="public_assets/images/newpage/index/steps/progress.png" class="img-fluid" draggable="false">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-m-6 col-sm-6 col-6">
                  <ul class="faq-tab__nav faq-filter-list feature-widget-7-row" role="tablist" id="cotent-tab">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="general-tab-nav" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">
                        <div class="feature-widget-7">
                          <div class="feature-widget-7__icon-wrapper my-auto">
                            <h5 class="color-pink fw-bold">1</h5>
                          </div>
                          <div class="feature-widget-7__body">
                            <h5 class="feature-widget-7__title mb-0 color-pink">User Registration</h5>
                            <p>Create an account with your details, selecting your role
                              as a student, employer, worker, or educator.</p>
                          </div>
                        </div>
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link " id="account-tab-nav" data-bs-toggle="tab" data-bs-target="#account-tab-pane" type="button" role="tab" aria-controls="account-tab-pane" aria-selected="false">
                        <div class="feature-widget-7">
                          <div class="feature-widget-7__icon-wrapper my-auto">
                            <h5 class="color-pink fw-bold">2</h5>
                          </div>
                          <div class="feature-widget-7__body">
                            <h5 class="feature-widget-7__title mb-0 color-pink">Profile Setup</h5>
                            <p>Complete your profile by adding your skills, interests, and career goals.</p>
                          </div>
                        </div>
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link " id="purchasing-tab-nav" data-bs-toggle="tab" data-bs-target="#purchasing-tab-pane" type="button" role="tab" aria-controls="purchasing-tab-pane" aria-selected="false">
                        <div class="feature-widget-7">
                          <div class="feature-widget-7__icon-wrapper my-auto">
                            <h5 class="color-pink fw-bold">3</h5>
                          </div>
                          <div class="feature-widget-7__body">
                            <h5 class="feature-widget-7__title mb-0 color-pink">Skill Assessment</h5>
                            <p>Take Focalyte's skill assessment to identify areas for improvement and growth.</p>
                          </div>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link " id="technical-tab-nav" data-bs-toggle="tab" data-bs-target="#technical-tab-pane" type="button" role="tab" aria-controls="technical-tab-pane" aria-selected="false">
                        <div class="feature-widget-7">
                          <div class="feature-widget-7__icon-wrapper my-auto">
                            <h5 class="color-pink fw-bold">4</h5>
                          </div>
                          <div class="feature-widget-7__body">
                            <h5 class="feature-widget-7__title mb-0 color-pink">Customized Learning</h5>
                            <p>Access personalized resources, courses, and job listings based on your profile and assessment results.</p>
                          </div>
                        </div>
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link " id="continous-tab-nav" data-bs-toggle="tab" data-bs-target="#continous-tab-pane" type="button" role="tab" aria-controls="continous-tab-pane" aria-selected="false">
                        <div class="feature-widget-7">
                          <div class="feature-widget-7__icon-wrapper my-auto">
                            <h5 class="color-pink fw-bold">5</h5>
                          </div>
                          <div class="feature-widget-7__body">
                            <h5 class="feature-widget-7__title mb-0 color-pink">Continuous Progress</h5>
                            <p>Regularly update your profile, track your skill develop- ment, and connect with opportunities for career growth.</p>
                          </div>
                        </div>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 d-xl-none d-lg-none d-md-block d-sm-block d-block">
          <div class="content">
            <div class="content-text-block">
              <h2 class="content-title heading-md text-uppercase how_focal">
                How Focalyt Works
              </h2>
            </div>
        </div>
         </div>
        <div class="how_sliderdual slider d-xl-none d-lg-none d-md-block d-sm-block d-block" id="how_sliderdual">
          <div class="">
            <figure>
              <img src="public_assets/images/newpage/index/steps/regi.png" class="img-fluid" draggable="false">
            </figure>
            <div class="feature-widget-7">
              <div class="feature-widget-7__icon-wrapper my-auto">
                <h5 class="color-pink fw-bold">1</h5>
                <div id="w-node-d83d018d-71dd-028e-3041-a09e719bb77f-90c98d22" class="line-steps mobile"></div>
              </div>
              <div class="feature-widget-7__body">
                <h5 class="feature-widget-7__title mb-0 color-pink">User Registration</h5>
                <p>Create an account with your details, selecting your role
                  as a student, employer, worker, or educator.</p>
              </div>
            </div>
          </div>
          <div class="">
            <figure>
              <img src="public_assets/images/newpage/index/steps/setup.png" class="img-fluid" draggable="false">
            </figure>
            <div class="feature-widget-7">
              <div class="feature-widget-7__icon-wrapper my-auto">
                <h5 class="color-pink fw-bold">2</h5>
                <div id="w-node-d83d018d-71dd-028e-3041-a09e719bb77f-90c98d22" class="line-steps mobile"></div>
              </div>
              <div class="feature-widget-7__body">
                <h5 class="feature-widget-7__title mb-0 color-pink">Profile Setup</h5>
                <p>Complete your profile by adding your skills, interests, and career goals.</p>
              </div>
            </div>
          </div>
          <div class="">
            <figure>
              <img src="public_assets/images/newpage/index/steps/skill.png" class="img-fluid" draggable="false">
            </figure>
            <div class="feature-widget-7">
              <div class="feature-widget-7__icon-wrapper my-auto">
                <h5 class="color-pink fw-bold">3</h5>
                <div id="w-node-d83d018d-71dd-028e-3041-a09e719bb77f-90c98d22" class="line-steps mobile"></div>
              </div>
              <div class="feature-widget-7__body">
                <h5 class="feature-widget-7__title mb-0 color-pink">Skill Assessment</h5>
                <p>Take Focalyte's skill assessment to identify areas for improvement and growth.</p>
              </div>
            </div>
          </div>
          <div class="">
            <figure>
              <img src="public_assets/images/newpage/index/steps/learning.png" class="img-fluid" draggable="false">
            </figure>
            <div class="feature-widget-7">
              <div class="feature-widget-7__icon-wrapper my-auto">
                <h5 class="color-pink fw-bold">4</h5>
                <div id="w-node-d83d018d-71dd-028e-3041-a09e719bb77f-90c98d22" class="line-steps mobile"></div>
              </div>
              <div class="feature-widget-7__body">
                <h5 class="feature-widget-7__title mb-0 color-pink">Customized Learning</h5>
                <p>Access personalized resources, courses, and job listings based on your profile and assessment results.</p>
              </div>
            </div>
          </div>
          <div class="">
            <figure>
              <img src="public_assets/images/newpage/index/steps/progress.png" class="img-fluid" draggable="false">
            </figure>
            <div class="feature-widget-7">
              <div class="feature-widget-7__icon-wrapper my-auto">
                <h5 class="color-pink fw-bold">5</h5>
                <div id="w-node-d83d018d-71dd-028e-3041-a09e719bb77f-90c98d22" class="line-steps mobile"></div>
              </div>
              <div class="feature-widget-7__body">
                <h5 class="feature-widget-7__title mb-0 color-pink">Continuous Progress</h5>
                <p>Regularly update your profile, track your skill develop- ment, and connect with opportunities for career growth.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2 : Testimonial Section
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <section >
      <div class="home-2_testimonial-section section-padding-120 bg-primary-opacity-l2" id="testimonial">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-xxl-12">
              <div class="section-heading">
                <p class="section-heading__title text-white mb-3">What Makes Focalyt the Best Skilltech Based Platform</p>
                <h1 class="text-uppercase primary-gradient fw-bolder">Focalyt v/s Other Platforms</h1>
              </div>
            </div>
          </div>
          <div class="pricing__table">
            <div class="pt__title">
              <div class="pt__title__wrap">
                <div class="pt__row"></div>
                <div class="pt__row">Provides UGC Certified Degree Courses for Every Skill</div>
                <div class="pt__row">Focus on New Educational System of Vocational Studies</div>
                <div class="pt__row">Amazing Job Opportunities for Freshers</div>
                <div class="pt__row">Make Hiring Efficient for Employers</div>
                <div class="pt__row">Help Employers to Develop Work Integrated Programs </div>
                <div class="pt__row">Offers Maximum Employee Retention</div>
                <div class="pt__row">Trusted by 50k + Students</div>
                <div class="pt__row">Forms & Landing Pages</div>
                <div class="pt__row">Amazing Opportunities for Skill Educators</div>
                <div class="pt__row">Provide Best Jobs near your Home</div>
              </div>
            </div>
            <div class="pt__option">
              <div class="pt__option__mobile__nav">
                  <a id="navBtnLeft" href="#" class="mobile__nav__btn">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M22.1538 11.9819H1.81972" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M11.9863 22.1535L1.82043 11.9865L11.9863 1.81946" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </a>
                  <a id="navBtnRight" href="#" class="mobile__nav__btn">
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.81934 11.9819H22.1534" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.9863 22.1535L22.1522 11.9865L11.9863 1.81946" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                  </a>
              </div>
              <div class="pt__option__slider swiper mx-auto" id="pricingTableSlider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide pt__option__item">
                    <div class="pt__item recommend">
                      <div class="pt__item__wrap tick_col">
                        <div class="pt__row"><img src="public_assets/images/newpage/logo-ha.svg" class="whatweoffer" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/tick.svg" draggable="false"></div>
                        <div class="pt__row">
                          <!-- <a href="">Purchase Now</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide pt__option__item">
                    <div class="pt__item">
                      <div class="pt__item__wrap tick_col">
                        <div class="pt__row text-white">Other Platform</div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row"><img src="public_assets/images/newpage/index/cancel.svg" draggable="false"></div>
                        <div class="pt__row">
                          <!-- <a href="">Purchase Now</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="swiper-slide pt__option__item">
                    <div class="pt__item">
                      <div class="pt__item__wrap">
                        <div class="pt__row">Essentials</div>
                        <div class="pt__row">5,000</div>
                        <div class="pt__row">3 Seats</div>
                        <div class="pt__row">3 Audiences</div>
                        <div class="pt__row">24/7 Email & Chat Support</div>
                        <div class="pt__row"><i class="fa-solid fa-check"></i></div>
                        <div class="pt__row"><i class="fa-solid fa-check"></i></div>
                        <div class="pt__row">Limited</div>
                        <div class="pt__row"><i class="fa-solid fa-check"></i></div>
                        <div class="pt__row">Limited</div>
                        <div class="pt__row">
                          <a href="">Purchase Now</a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Home 2  : Integration Section
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <section class="d-none">
    <div class="home-2_integration-section section-padding-120 bg-white" id="integration">
      <div class="container">
        <div class="row row--custom ">
          <div class=" col-xl-12 text-center" data-aos-duration="1000" data-aos="fade-right">
            <div class="content">
              <div class="content_text-block">
                <h2 class="content_title heading-md text-black">
                  <h2 class="content-title heading-md text-uppercase how_focal text-center">
                    Meet Focalyt’s Student Community
                  </h2>
                </h2>
              </div>
              <div class="howfocal slider">
                <div class="partner_col">
                  <img src="public_assets/images/newpage/index/modal/apply_one.jpg">
                </div>
                <div class="partner_col">
                  <img src="public_assets/images/newpage/index/slider/two.jpg">
                </div>
                <div class="partner_col">
                  <img src="public_assets/images/newpage/index/slider/one.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="why">
    <div class="home-2_testimonial-section section-padding-120 bg-primary-opacity-l2">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xxl-12">
            <div class="section-heading">
              <h1 class="text-uppercase primary-gradient fw-bolder">Still Confused</h1>
              <h1 class="text-uppercase primary-gradient fw-bolder">why Choose Focalyt ?</h1>
              <h3 class="color-yellow fw-lighter mt-4">Here are the 4 Reasons which make us special:</h3>
            </div>
          </div>
        </div>
        <div class="col-xxl-10 mx-auto justify-content-between">
          <div class="row row--testimonial-widget">
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="4000" data-aos-delay="300">
              <div class="why_choose_sec">
                <h4 class="text-white pb-3">Practical Learning:</h4>
                <p class="text-white">We offer On-job integrated training programs
                  that provide hands-on, real-world experience,
                  helping students and employees gain practical
                  skills that are immediately applicable in their
                  careers.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="4000" data-aos-delay="300">
              <div class="why_choose_sec">
                <h4 class="text-white pb-3">Flexibility:</h4>
                <p class="text-white">Our blended learning courses and flexible sche-
                  dules enable you to pursue further education or
                  skill enhancement without disrupting your job or
                  daily routines, making lifelong learning
                  accessible.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="4000" data-aos-delay="300">
              <div class="why_choose_sec">
                <h4 class="text-white pb-3">Global Impact:</h4>
                <p class="text-white">For Skill-Educators, Focalyt offers a platform to
                  train online/blended learning worldwide,
                  allowing you to connect with a diverse global
                  audience and expand your reach.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="4000" data-aos-delay="300">
              <div class="why_choose_sec">
                <h4 class="text-white pb-3">Tailored Solutions:</h4>
                <p class="text-white">At Focalyt, we believe in personalized support.
                  We tailor our services to your unique needs,
                  whether you're a student, employer, employee,
                  or skill-educator, ensuring a perfect fit for your
                  goals.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <div class="footer-v2 footer-padding-default footer-l02">
    <div class="container">
      <div class="row row--footer-main">
        <div class="col-md-3 col-lg-3 col-xl-auto">
          <div class="footer-v2__content-block">
            <div class="footer-v2__content-text">
              <div class="footer-brand">
                <img src="public_assets/images/newpage/logo-ft.svg" alt="image alt">
              </div>
              <p>
                Focal Skill Development Pvt. Ltd.
                SCF 3,4, 2nd floor, Shiva Complex, Patiala Zirakpur Road, opposite Hyundai Showroom,
                Zirakpur, Punjab
                140603
              </p>
            </div>
            <ul class="list-social list-social--hvr-black">
              <li>
                <a href="https://www.facebook.com/focalyt.learn/" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/p/CX3iTqQFHQF/" target="_blank">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/focalytlearn?originalSubdomain=in" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
          <h4 class="color-pink fw-bold pb-xxl-4 pb-xp-4 pb-lg-3 pb-md-2 sm-1 pb-1 ">About Us</h4>
          <ul class="footer-list p-0">
            <li>
              <a href="#">Our Team</a>
            </li>
            <li>
              <a href="#">Mission</a>
            </li>
            <li>
              <a href="#">Vision</a>
            </li>
            <li>
              <a href="#">Blog &amp; Articles</a>
            </li>
          </ul>
        </div>
        <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
          <h4 class="color-pink fw-bold pb-xxl-4 pb-xp-4 pb-lg-3 pb-md-2 sm-1 pb-1 ">Useful Links</h4>
          <ul class="footer-list p-0">
            <li>
              <a href="#">Career</a>
            </li>
            <li>
              <a href="https://result.focalyt.com/">Results</a>
            </li>
            <li>
              <a href="#">Partner With Us</a>
            </li>
            <li>
              <a href="#">How to Register?</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-auto col-md-3 col-lg-auto col-xl-auto">
          <h4 class="color-pink fw-bold pb-xxl-4 pb-xp-4 pb-lg-3 pb-md-2 sm-1 pb-1 ">Download Now</h4>
          <div class="footer-store-buttons">
            <a href="#">
              <img src="public_assets/images/newpage/common/app-store.png" alt="image alt">
            </a>
            <a href="#">
              <img src="public_assets/images/newpage/common/play-store.png" alt="image alt">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-block">
      <div class="container">
        <div class="copyright-inner text-center  copyright-border">
          <p>© Copyright 2023, All Rights Reserved by </p>
          <h4 class="color-pink fw-bold PT-2">FOCALYT</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</body>
 <!-- Vendor Scripts -->
 <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.4/swiper-bundle.min.js"></script>
 <script src="/js/newpage/plugin/jquery/jquery.min.js"></script>
 <script src="/js/newpage/plugin/jquery/jquery-migrate.min.js"></script>
 <script src="/js/newpage/plugin/newbootstrap/bootstrap.bundle.min.js"></script>
 <!-- Plugin's Scripts -->
 <script src="/js/newpage/plugin/inlineSvg/inlineSvg.min.js"></script>
 <script src="/js/newpage/plugin/newunpug/aos.js"></script>
 <script src="/js/newpage/plugin/fancybox/jquery.fancybox.min.js"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script src="/js/newpage/plugin/isotope/isotope.pkgd.min.js"></script>
 <script src="/js/newpage/plugin/isotope/packery.pkgd.min.js"></script>
 <script src="/js/newpage/plugin/isotope/image.loaded.js"></script>
 <script src="/js/newpage/plugin/slick/slick.min.js"></script>
 <script src="/js/newpage/plugin/countdown/jquery.countdown.js" defer></script>
 <script src="/js/newpage/js/menu.js"></script>
 <script src="/js/newpage/js/custom.js"></script>
 <script src="/js/newpage/js/comparison.js"></script></body>
<script>
 $(".center").slick({
       dots: false,
       slidesToShow: 3.5,
       slidesToScroll: 1,
       arrows: false,
       autoplay: true,
       infinite: true,
       autoplaySpeed: 2000,
       responsive: [
   {
     breakpoint: 1920,
     settings: {
       slidesToShow: 3.5,
       slidesToScroll: 1,
       infinite: true,
       dots: false
     }
   },
   {
     breakpoint: 1199,
     settings: {
       slidesToShow: 3.5,
       slidesToScroll: 1,
       infinite: true,
       dots: false
     }
   },
   {
     breakpoint: 1366,
     settings: {
       slidesToShow: 3.5,
       slidesToScroll: 1
     }
   },
   {
     breakpoint: 991,
     settings: {
       slidesToShow: 2.5,
       slidesToScroll: 1
     }
   },
   {
     breakpoint: 767,
     settings: {
       slidesToShow: 2,
       slidesToScroll: 1
     }
   },
   {
     breakpoint: 576,
     settings: {
       slidesToShow: 1.5,
       slidesToScroll: 1
     }
   }
 ]
     });
</script>
<script>
 $(".how_sliderdual").slick({
       dots: false,
       slidesToShow: 1,
       slidesToScroll: 1,
       arrows: false,
       autoplay: true,
       infinite: true,
       autoplaySpeed: 2000,
       responsive: [
   {
     breakpoint: 1920,
     settings: {
       slidesToShow: 1,
       slidesToScroll: 1,
       infinite: true,
       dots: false
     }
   },
   {
     breakpoint: 1199,
     settings: {
       slidesToShow: 1,
       slidesToScroll: 1,
       infinite: true,
       dots: false
     }
   },
   {
     breakpoint: 1366,
     settings: {
       slidesToShow: 1,
       slidesToScroll: 1
     }
   },
   {
     breakpoint: 767,
     settings: {
       slidesToShow: 1,
       slidesToScroll: 1
     }
   },
   {
     breakpoint: 576,
     settings: {
       slidesToShow: 1,
       slidesToScroll: 1
     }
   }
 ]
     });
</script>
<script>
 $(".howfocal").slick({
       dots: false,
       infinite: false,
       slidesToShow: 1.5,
       slidesToScroll: 1,
       arrows: false,
       responsive: [
   {
     breakpoint: 1920,
     settings: {
       slidesToShow: 1.5,
       slidesToScroll: 3,
       infinite: true,
       dots: false
     }
   },
   {
     breakpoint: 1366,
     settings: {
       slidesToShow: 1.5,
       slidesToScroll: 2
     }
   },
   {
     breakpoint: 480,
     settings: {
       slidesToShow: 1,
       slidesToScroll: 1
     }
   }
 ]
     });
</script>
<script>
 $(".apply_cta").slick({
       dots: false,
       infinite: true,
       slidesToShow: 2.5,
       slidesToScroll: 1,
       arrows: false,
       responsive: [
   {
     breakpoint: 1920,
     settings: {
       slidesToShow: 2.5,
       slidesToScroll: 1,
       infinite: true,
       dots: false
     }
   },
   {
     breakpoint: 1366,
     settings: {
       slidesToShow: 2.5,
       slidesToScroll: 1
     }
   },
   {
     breakpoint: 480,
     settings: {
       slidesToShow: 2,
       slidesToScroll: 1
     }
   }
 ]
     });
</script>
</html>