<%include ./newpartials/header%>



<body>

  <% include ./partials/navbar %>

  <section>
    <div class="block double-gap-top double-gap-bottom">
      <div data-velocity="-.1"
        style="background: url(/public_assets/images/resource/banner_home.webp) repeat scroll 50% 422.28px transparent;"
        class="parallax scrolly-invisible layer blackish"></div><!-- PARALLAX BACKGROUND IMAGE -->
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="form-location-sec my-1">
              <h3><strong>Contact Us</strong> </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>

    <div class="container">
      <div class="row">
        <div class="col-xl-6 ">
          <h2 class="mt-5 font-weight-bold">Get in touch with Us</h2>
          <h4 class="mt-5">Our Location</h4>
          <p class="mt-5"> <i class="fa fa-home pr-2 pt-2 distance-color" style=" font-size: 23px;"></i>Swastik Vihar, SCF 285-286, 1st Floor, Patiala Rd, Zirakpur, Punjab</p>
          <p class="mt-5"> <a href="tel:+8699011108"> <i class="fa fa-phone pr-2 pt-2 distance-color"
                style=" font-size: 23px;"></i>8699011108</a></p>
          <p class="mt-5"> <a href="mailto: info@focalyt.in"></a><i class="fa fa-envelope pr-2 pt-2 distance-color"
              style=" font-size: 20px;"></i>info@focalyt.com</p>

          <div class="contact-icon mt-5">
            <h4 class="mb-3">Follow us on</h4>
            <a href="https://www.facebook.com/focalyt.learn.learn" target="_blank" title=""><i
                class="fa fa-facebook  distance-color " style=" color: #666762; font-size: 33px;"></i></a>
            <a href="https://www.instagram.com/focalyt4u/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank" title=""><i
                class="fa fa-instagram  mt-3 distance-color pl-4" style=" color: #666762; font-size: 33px;"></i></a>
            <a href="https://www.youtube.com/@focalyt" target="_blank" title=""><i
                class="fa fa-youtube  mt-3 distance-color pl-4" style=" color: #666762; font-size: 33px;"></i></a>
            <a href="https://www.linkedin.com/company/focalytlearn/" target="_blank" title=""><i
                class="fa fa-linkedin  mt-3 distance-color pl-4" style=" color: #666762; font-size: 33px;"></i></a>

          </div>

        </div>
        <div class="col-xl-6 mt-xl-5 mt-lg-2 mt-md-2 mt-sm-0 mt-0">
          <div class="contact-form ">
            <div class="form-group form-primary mt-5">
              <input type="text" type="color" color="#FC2B5A" class="form-contro  mt-xl-5 mt-lg-2 mt-md-2 mt-sm-0 mt-0"
                placeholder="Name" id="Name">
              <input type="text" type="color" color="#FC2B5A" class="form-contro" placeholder="Phone no" id="Phone no">
              <input type="email" type="color" color="#FC2B5A" class="form-contro" placeholder="Enter email" id="email">
              <textarea class="form-contro mb-3 message-to pr-1" id="exampleFormControlTextarea1"
                placeholder="Message us" rows="1" ></textarea>
            </div>  
          </div>
          <div class="submit-button text-center justify-content-center">
            <button type="submit" class="btn distance-btn my-4 text-center px-4 font-weight-bold text-white">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1757443.9613018557!2d76.809794!3d30.647828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feb1926579155%3A0x6704ed8197f6f017!2sFocal%20Skill%20Development%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1682307065688!5m2!1sen!2sin"
      width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <footer class="style3">
    <div class="bottom-line style3">
      <div class="container">
        <span>© 2023 Focal Skill Development Pvt Ltd | All rights reserved</span>

      </div>
    </div>
  </footer>
</body>