<% include ./partials/header %>

<div class="theme-layout" id="scrollup">
	<% include ./partials/navbar %>

  <section>
    <div class="block double-gap-top double-gap-bottom">
      <div
        data-velocity="-.1"
        style="
          background: url(mipieIn/images/resource/banner_home.webp) repeat
            scroll 50% 422.28px transparent;
        "
        class="parallax scrolly-invisible layer blackish"
      ></div>
      <!-- PARALLAX BACKGROUND IMAGE -->
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="form-location-sec">
              <h3>
                <strong>
                  <div>We Provide Qualified Candidates</div>
                </strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block mb-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading my-0">
              <h2 class="mb-2">
                <a class="text-cs-primary">50+</a> Job Categories
              </h2>
              <p>
                Our Mission Is To Create Job Opportunities For 10 Million
                Seekers(Blue Collars And Entry Level Workers) By 2025
              </p>
            </div>
            <!-- Heading -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="background-3">
      <div
        class="container col-xxl-6 col-xl-6 col-lg-7 col-md-7 col-sm-8 col-9 background mt-bd mb-0"
      >
        <div class="row">
          <div class="dd mt-2 mt-sm-3 mt-md-4 mt-lg-5 mt-xl-3 mt-xxl-5"></div>
          <div class="fe mt-1 mt-xl-4 mb-1 mb-xxl-0"></div>
          <div class="col-4 text-center px-2 first">
            <h4 class="first-head text mt-1 mt-sm-1 mt-md-1 px-2">BASIC</h4>
            <div class="row ls">
              <div
                class="col-12 mt-2 mt-sm-3 mt-md-3 mt-lg-4 mt-xl-3 mt-xxl-4 point"
              >
                Unlimited Job Posts
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xl-4 mt-lg-4 mt-xxl-5 point-2 mt-md-3"
              >
                50 CVs
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xl-4 mt-lg-4 mt-xxl-5 point mt-md-3"
              >
                WhatsApp Support
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xl-4 mb-2 mt-lg-4 mt-xxl-5 point mt-md-3"
              >
                Upskilling Consulting
              </div>
            </div>
          </div>
          <div class="col-4 text-center px-2 sec">
            <h4 class="first-head mt-1 mt-sm-1 mt-md-1">PRO</h4>
            <div class="row ls">
              <div
                class="col-12 mt-2 mt-sm-3 mt-md-3 mt-lg-4 mt-xl-3 mt-xxl-4 point"
              >
                Unlimited Job Posts
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point-2"
              >
                200 CVs
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point"
              >
                Phone Support
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point"
              >
                Upskilling Consulting
              </div>
            </div>
          </div>
          <div class="col-4 text-center px-2 sec">
            <h4 class="first-head mt-1 mt-sm-1 mt-md-1">ULTIMATE</h4>
            <div class="row ls">
              <div class="col-12 mt-2 mt-sm-3 mt-md-3 mt-lg-4 mt-xxl-4 point">
                Unlimited Job Posts
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point-2"
              >
                1000 CVs
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point"
              >
                Phone Support
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point"
              >
                Upskilling Consulting
              </div>
              <div
                class="col-12 mt-2 mt-sm-3 mt-xxl-5 mt-lg-4 mt-xl-4 mt-md-3 point"
              ></div>
            </div>
          </div>
        </div>
        <div class="open px-2 mt-0">
          <div class="row text-center silk px-1 background-2">
            <div class="col-4 another-1 mt-an-1 px-2">
              <div class="mt-3 mt-md-4 mt-xxl-5">
                <span class="yellow-b">Free Trial* </span>
              </div>

              <H3 class="mt-sm-2 mt-md-2 mt-xxl-4 mb-1 mb-xxl-4 h-b"
                ><span class="white-txt tog text-white">₹1999</span> <br /><span
                  class="orange"
                  >/Month</span
                >
              </H3>
            </div>

            <div class="another-2 mt-an-3 px-1 col-4">
              <H3 class="b-h mt-3 mt-md-4 mt-xxl-5 text-white">Get Started</H3>
              <H3 class="mt-2 mt-xxl-3 mb-1 mb-xxl-4 h-b"
                ><span class="white-txt text-white">₹5999</span> <br /><span class="orange"
                  >/Quarter</span
                ></H3
              >
            </div>
            <div class="another-3 px-1 col-4">
              <H3 class="mt-3 mt-md-4 b-h mt-xxl-5 text-white">Get Started</H3>
              <H3 class="mt-2 mt-xxl-3 mb-1 mb-xxl-4 h-b"
                ><span class="white-txt text-white">₹24999</span> <br /><span
                  class="orange"
                  >/Year</span
                ></H3
              >
            </div>
            <div class="tgrf mt-3 mt-xxl-4"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-md-12 co-sm-12 text-center mt-5">
          <a target="_blank" href="/company/register" class="next_gen_btn"
            >Register Now</a
          >
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block py-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading mt-3 mb-0">
              <h2>Focal Skill - Our Founding Company</h2>
              <span class="mt-3">
                <img src="/mipieIn/images/fs1.png" width="150" height="70" />
              </span>
              <span
                >Focal Skill,is a team of professionals from various streams,
                committed to reach out to the youth in the rural & urban region
                and equip them with the knowledge and skill. Our core
                responsibility is to empower them with livelihood opportunities
                and train them to handle business opportunities and future job
                opportunities using skill development.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="block gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading my-0">
              <h2 >Focalyt Site Stats</h2>
              <span class="mb-2"
                >Here we list our site stats and how many people we’ve helped
                find a job and companies have found <br />recruits. It's pretty
                awesome!</span
              >
            </div>
            <!-- Heading -->
            <div class="stats-sec style2">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="stats">
                    <span>18</span>
                    <h5>Jobs Posted</h5>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="stats">
                    <span>250</span>
                    <h5>Jobs Filled</h5>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="stats">
                    <span>67</span>
                    <h5>Companies</h5>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="stats">
                    <span>92</span>
                    <h5>Members</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <% include ./partials/footer %>

</div>
