
<%include ./newpartials/header%>
<%include ./newpartials/jobcategory%>
  <section class="pattern py-5">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mx-auto text-center">
          <ul class="nav nav-pills mb-3  mx-auto text-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Course Details</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Course Fee
                Description</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">FAQ's</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-review"
                type="button" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</button>
            </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade text-white active show" id="pills-home" role="tabpanel"
              aria-labelledby="pills-home-tab">
              <div class="row feature-widget-7-row pt-4" id="apply_modal">
                <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 mb-3 mx-auto">
                  <div class="course_details_col">
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Eligibility.png"
                            class="img-fluid" draggable="false">Eligibility</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">12th</p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Age.png"
                            class="img-fluid" draggable="false">Age</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">18-30 Years</p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Location.png"
                            class="img-fluid" draggable="false">Location</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">Mohali, punjab
                        </p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Experience.png"
                            class="img-fluid" draggable="false">Experience</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">2 Years
                        </p>
                      </div>
                    </div>
                    <!-- <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/English_level.png"
                            class="img-fluid" draggable="false">English level</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">Basic
                        </p>
                      </div>
                    </div> -->
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Course_mode.png"
                            class="img-fluid" draggable="false">Course Mode</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">Online+ Offline
                        </p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/newpage/index/modal/empl.svg"
                            class="img-fluid" draggable="false">Course Duration</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">6 Months
                        </p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/newpage/index/modal/empl.svg"
                            class="img-fluid" draggable="false">Course Type</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">Internship
                        </p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Timing.png"
                            class="img-fluid" draggable="false">Timing</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">09:00-06:00
                        </p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/jobicons/Institute_name.png"
                            class="img-fluid" draggable="false">Institute Name</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">ABC Institute
                        </p>
                      </div>
                    </div>
                    <div class="feature-widget-7 border-bottom">
                      <div class="feature-widget-7__icon-wrapper my-auto">
                        <h5 class="fw-normal"><img src="public_assets/images/newpage/index/modal/empl.svg"
                            class="img-fluid" draggable="false">On Job Training</h5>
                      </div>
                      <div class="feature-widget-7__body">
                        <p class="feature-widget-7__title mb-0 text-white fw-normal">Yes
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade text-white" id="pills-profile" role="tabpanel"
              aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto">
                  <div class="single-footer">
                    <ul class="contact-info">
                      <h3 class="text-uppercase jobs-heading pb-4 fw-bold color-pink">Course Features </h3>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Leadership and Team
                        Management Skills.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Strategic Planning for
                        Hotels.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Internship or Practical
                        Experience Opportunities.
                      </li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Case Studies and Simulations
                        in Hotel Management.
                      </li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Sustainability in
                        Hospitality Operations.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Technology and Innovation in
                        the Hotel Industry.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Global Trends and
                        International Hospitality Practices.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade text-white" id="pills-contact" role="tabpanel"
              aria-labelledby="pills-contact-tab">
              <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mx-auto">
                  <div class="single-footer">
                    <ul class="contact-info">
                      <h3 class="text-uppercase jobs-heading pb-4 fw-normal color-pink fw-bold">Terms</h3>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Refunds will be provided
                        within [number] days of the
                        initial course enrollment.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Requests for refunds must be
                        made in writing via email
                        to [email address].</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">A 100% refund will be issued
                        if the cancellation request
                        is received within [number] days from the date of
                        enrollment.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Refunds requested after the
                        specified period will be
                        subject to a deduction of [percentage]% of the course
                        fee for administrative purposes.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">No refunds will be issued
                        for cancellations requested
                        after [specific date].</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Refunds will be processed
                        using the original method of
                        payment.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">If the course materials have
                        been accessed or if any
                        certification exam has been attempted, no refund will
                        be provided.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">Refunds for courses paid
                        through installment plans will
                        be subject to a pro-rata deduction based on the
                        number of modules or sessions attended.</li>
                      <li><img src="public_assets/images/ul_li_shape.svg" draggable="false">In case of extenuating
                        circumstances, such as doc-
                        umented medical emergencies, a refund consideration
                        may be made at the discretion of&nbsp;the&nbsp;management.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade text-white" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h3 class="text-uppercase jobs-heading pb-4 fw-bold color-pink text-uppercase">Happy Candidates</h3>
                </div>
              </div>
              <div class=" col-xl-12 text-center" data-aos-duration="1000" data-aos="fade-right">
                <div class="content">
                  <div class="howfocal slider">
                    <div class="partner_col">
                      <img src="public_assets/images/dummy_review.jpg">
                    </div>
                    <div class="partner_col">
                      <img src="public_assets/images/dummy_review.jpg">
                    </div>
                    <div class="partner_col">
                      <img src="public_assets/images/dummy_review.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- start -->
  <section class="jobs mb-xxl-0 mb-xl-0 mb-lg-0 mb-md-0 md-sm-5 mb-5">
    <div class="container">
      <div class="row">
        <div
          class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mx-auto mt-xxl-5 mt-xl-3 mt-lg-3 mt-md-3 mt-sm-3 mt-3 ">
          <div class="row my-5">
            <h1 class="text-center text-uppercase mb-5 jobs-heading">Matching jobs Near You</h1>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pb-4 card-padd">
              <div class="card bg-dark">
                <div class="bg-img">
                  <img src="public_assets/images/newjoblisting/digital-marketting.png" class="digi" alt="">
                  <img src="public_assets/images/newjoblisting/play.svg" alt="" class="group1">
                  <img src="public_assets/images/newjoblisting/Group2.png" class="group2" alt="">
                </div>
                <div class="card-body px-0 pb-0">
                  <h4 class="card-title text-center">Jr. Web Developer</h4>
                  <h5>(Migill Digital)</h5>
                  <h4 class="text-center digi-price my-4">
                    <span class="rupee">₹</span>
                    <span class="r-price">15,000 -</span>
                    <span class="rupee">₹</span>
                    <span class="r-price">25,000</span>
                  </h4>>
                  <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
                        <div class="row">
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/qualification.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature p-0 my-auto">
                                <p class="mb-0 text-white ">Qualification</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(12th Pass)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/fresher.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">Fresher</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(6 Months)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/location.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">Mohali, Punjab</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(Focalyt App)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/onsite.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">On-site</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(Online+Offline)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3 text-center">
                            <a class="btn cta-callnow">Apply Now</a>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3 text-center">
                            <a class="btn cta-callnow">Call Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-12 col-lg-12 col-md-12 col-sm-12 col-12 course_card_footer">
                    <div class="row py-2">
                      <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center align-items-center text-center">
                        <a href="#"><span class="learnn pt-1 text-white">Learn More</span> <img
                            src="public_assets/images/link.png" class="align-text-top"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pb-4 card-padd">
              <div class="card bg-dark">
                <div class="bg-img">
                  <img src="public_assets/images/newjoblisting/digital-marketting.png" class="digi" alt="">
                  <img src="public_assets/images/newjoblisting/play.svg" alt="" class="group1">
                  <img src="public_assets/images/newjoblisting/Group2.png" class="group2" alt="">
                </div>
                <div class="card-body px-0 pb-0">
                  <h4 class="card-title text-center">Jr. Web Developer</h4>
                  <h5>(Migill Digital)</h5>
                  <h4 class="text-center digi-price my-4">
                    <span class="rupee">₹</span>
                    <span class="r-price">15,000 -</span>
                    <span class="rupee">₹</span>
                    <span class="r-price">25,000</span>
                  </h4>>
                  <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
                        <div class="row">
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/qualification.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature p-0 my-auto">
                                <p class="mb-0 text-white ">Qualification</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(12th Pass)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/fresher.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">Fresher</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(6 Months)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/location.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">Mohali, Punjab</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(Focalyt App)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/onsite.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">On-site</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(Online+Offline)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3 text-center">
                            <a class="btn cta-callnow">Apply Now</a>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3 text-center">
                            <a class="btn cta-callnow">Call Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-12 col-lg-12 col-md-12 col-sm-12 col-12 course_card_footer">
                    <div class="row py-2">
                      <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center align-items-center text-center">
                        <a href="#"><span class="learnn pt-1 text-white">Learn More</span> <img
                            src="public_assets/images/link.png" class="align-text-top"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pb-4 card-padd">
              <div class="card bg-dark">
                <div class="bg-img">
                  <img src="public_assets/images/newjoblisting/digital-marketting.png" class="digi" alt="">
                  <img src="public_assets/images/newjoblisting/play.svg" alt="" class="group1">
                  <img src="public_assets/images/newjoblisting/Group2.png" class="group2" alt="">
                </div>
                <div class="card-body px-0 pb-0">
                  <h4 class="card-title text-center">Jr. Web Developer</h4>
                  <h5>(Migill Digital)</h5>
                  <h4 class="text-center digi-price my-4">
                    <span class="rupee">₹</span>
                    <span class="r-price">15,000 -</span>
                    <span class="rupee">₹</span>
                    <span class="r-price">25,000</span>
                  </h4>>
                  <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
                        <div class="row">
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/qualification.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature p-0 my-auto">
                                <p class="mb-0 text-white ">Qualification</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(12th Pass)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/fresher.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">Fresher</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(6 Months)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 my-auto">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/location.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">Mohali, Punjab</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(Focalyt App)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3">
                            <div class="row">
                              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                                <figure class="text-end">
                                  <img src="public_assets/images/newjoblisting/onsite.png" class="img-fluid p-0"
                                    draggable="false">
                                </figure>
                              </div>
                              <div
                                class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 text-white courses_feature px-0 my-auto">
                                <p class="mb-0 text-white">On-site</p>
                                <!-- <p class="mb-0 text-white"><small class="sub_head">(Online+Offline)</small></p> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3 text-center">
                            <a class="btn cta-callnow">Apply Now</a>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb-3 text-center">
                            <a class="btn cta-callnow">Call Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-12 col-lg-12 col-md-12 col-sm-12 col-12 course_card_footer">
                    <div class="row py-2">
                      <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center align-items-center text-center">
                        <a href="#"><span class="learnn pt-1 text-white">Learn More</span> <img
                            src="public_assets/images/link.png" class="align-text-top"></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- end -->
 
  <!-- footer  class=" text-center"  -->
    <%include ./newpartials/footer%>
