<%include ./newpartials/header%>

    <section class="header newpattern" id="head-sec">
        
        <div class="container" id="manu-grid">
            <div class="row">
                <div
                    class="col-xxl-8 col-xl-8 col-md-8 col-sm-12 col-12 mx-auto mt-xxl-5 mt-xl-3 mt-lg-3 mt-md-3 mt-sm-3 mt-3">
                    <div class="row justify-content-around" id="features_cta">
                        <ul class="d-flex justify-content-between overflow-x-auto">
                            <li class="cta_cols">
                                <figure class="figure">
                                    <img class="Sirv image-main sirv-image-loaded"
                                        src="public_assets/images/newjoblisting/hospitality.png"
                                        data-src="public_assets/images/newjoblisting/hospitality.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5225031"
                                        loading="lazy">
                                    <img class="Sirv image-hover sirv-image-loaded"
                                        data-src="public_assets/images/newjoblisting/hospitality_v.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5217695"
                                        loading="lazy" src="public_assets/images/newjoblisting/hospitality_v.png">
                                </figure>
                                <h4 class="head">Hospitality</h4>
                            </li>
                            <li class="cta_cols">
                                <figure class="figure">
                                    <img class="Sirv image-main sirv-image-loaded"
                                        src="public_assets/images/newjoblisting/manufacturing_v.png"
                                        data-src="public_assets/images/newjoblisting/manufacturing_v.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5225031"
                                        loading="lazy">
                                    <img class="Sirv image-hover sirv-image-loaded"
                                        data-src="public_assets/images/newjoblisting/manufacturing.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5217695"
                                        loading="lazy" src="public_assets/images/newjoblisting/manufacturing.png">
                                </figure>
                                <h4 class="head">Manufacturing</h4>
                            </li>
                            <li class="cta_cols">
                                <figure class="figure">
                                    <img class="Sirv image-main sirv-image-loaded"
                                        src="public_assets/images/newjoblisting/banking.png"
                                        data-src="public_assets/images/newjoblisting/banking.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5772549"
                                        loading="lazy">
                                    <img class="Sirv image-hover sirv-image-loaded"
                                        data-src="public_assets/images/newjoblisting/banking_v.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5669033"
                                        loading="lazy" src="public_assets/images/newjoblisting/banking_v.png">
                                </figure>
                              <h4 class="head">Banking</h4>
                            </li>
                            <li class="cta_cols">
                                <figure class="figure">
                                    <img class="Sirv image-main sirv-image-loaded"
                                        src="public_assets/images/newjoblisting/hospitality.png"
                                        data-src="public_assets/images/newjoblisting/hospitality.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5225031"
                                        loading="lazy">
                                    <img class="Sirv image-hover sirv-image-loaded"
                                        data-src="public_assets/images/newjoblisting/hospitality.png"
                                        referrerpolicy="no-referrer-when-downgrade" id="responsive-image-5217695"
                                        loading="lazy" src="public_assets/images/newjoblisting/hospitality_v.png">
                                </figure>
                                <h4 class="head">Hospitality</h4>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="main-dropdown">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <h2 class="text-uppercase text-center text-white m-0 pb-3">Get Your Dream Job with Focalyt</h2>
                    <h4 class="text-center text-white m-0 fw-light">And Take Your Career to The Next Level</h4>
                </div>
                <div class="col-md-12 mt-5">
                    <div class="d-flex justify-content-center align-items-center text-align-center">
                        <a href="" class="btn-apply fw-light text-uppercase">Apply Now</a>
                    </div>
                </div>
                <div class="col-md-8 mx-auto my-5">
                    <div class="custom-select">
                        <select class="form-select  custom-dropdown" aria-label="Default select example">
                            <option selected>All</option>
                            <option value="1">Work From Home Jobs</option>
                            <option value="2">10th pass jobs</option>
                            <option value="3">12th pass jobs</option>
                            <option value="3">jobs for Fresher</option>
                            <option value="3">jobs for Women</option>
                            <option value="3">part time jobs</option>
                            <option value="3">Night shift jobs</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around align-items-center">
                <div class="col-xxl-12 col-md-12 col-12">
                    <ul class="perpendicular-list pt-3 justify-content-between overflow-x-auto over">
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/home.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">Work From</p>
                                <p class="perpendicular-text">Home Jobs</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class=" lsn perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/home.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">Work From</p>
                                    <p class="perpendicular-text">Home Jobs</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/employee.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">10th Pass</p>
                                <p class="perpendicular-text">Jobs</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class="perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/employee.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">10th Pass</p>
                                    <p class="perpendicular-text">Jobs</p>
                                </div>
                            </div> -->
                        </li>
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/employee.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">12th Pass</p>
                                <p class="perpendicular-text">Jobs</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class="perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/employee.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">12th Pass</p>
                                    <p class="perpendicular-text">Jobs</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/job-fresh.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">Jobs For</p>
                                <p class="perpendicular-text">Fresher</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class="perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/job-fresh.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">Jobs For</p>
                                    <p class="perpendicular-text">Freshers</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/women.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">Jobs For</p>
                                <p class="perpendicular-text">Women</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class="perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/women.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">Jobs For</p>
                                    <p class="perpendicular-text">Women</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/parttime.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">Part Time</p>
                                <p class="perpendicular-text">Jobs</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class="perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/parttime.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">Part Time</p>
                                    <p class="perpendicular-text">Jobs</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="perpendicular-list-item">
                            <div class="jobsearch-img">
                              <div class="job-img">
                                <figure class="my-auto text-center">
                                  <img src="/public_assets/images/newjoblisting/night-mode.png" alt="Your Image">
                                </figure>
                              </div>
                              <div class="job-catg">
                                <p class="perpendicular-text">Night Shift</p>
                                <p class="perpendicular-text">Jobs</p>
                              </div>
                            </div>
                          </li>
                        <!-- <li class="perpendicular-list-item">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-12 mb-md-2 text-center">
                                    <figure class="my-auto">
                                        <img src="public_assets/images/newjoblisting/night-mode.png" alt="Your Image">
                                    </figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-1">
                                    <p class="perpendicular-text">Night Shift</p>
                                    <p class="perpendicular-text">Jobs</p>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- start -->
    <section class="jobs">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-11 mx-auto mt-xxl-5 mt-xl-3 mt-lg-3 mt-md-3 mt-sm-3 mt-3">
                    <div class="row">
                        <h1 class="text-center text-uppercase my-md-5 my-sm-3 my-3 jobs-heading">Matching jobs Near You</h1>
                        <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 mt-sm-4">
                            <div class="row pb-5 pt-xxl-5">
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-8 col-11 mb-3 mx-sm-auto mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-2 mt-4">
                                    <div class="card my-3 bg-dark position-relative" style="max-width: 540px;">
                                        <div class="row">
                                            <div class="col-xxl-7 col-xl-7 col-md-7 col-sm-7 col-7">
                                                <div class="job-description">
                                                    <div class="job-main">
                                                        <h3 class="job-title text-white">Junior Web Developer</h3>
                                                        <h4 class="job-details text-white">
                                                            <span class="r-prices">&#8377; 15,000 -  &#8377; 25,000</span>
                                                        </h4>
                                                        <ul class="p-0">
                                                            <li class="text-white mb-1">
                                                                <img src="public_assets/images/newjoblisting/location.png"
                                                                    alt="">
                                                                Mohali, Punjab</li>
                                                            <li class="text-white">
                                                                <img src="public_assets/images/newjoblisting/fresher.png"
                                                                    alt="">
                                                                Fresher</li>
                                                        </ul>
                                                        <button class="btn btn-sm apply-button">Apply Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="image-container">
                                                    <img src="public_assets/images/newjoblisting/junior-dev.png"
                                                        alt="Junior Web Developer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-8 col-11 mb-3 mx-sm-auto mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-2 mt-4">
                                    <div class="card my-3 bg-dark position-relative" style="max-width: 540px;">
                                        <div class="row">
                                            <div class="col-xxl-7 col-xl-7 col-md-7 col-sm-7 col-7">
                                                <div class="job-description">
                                                    <div class="job-main">
                                                        <h3 class="job-title text-white">Junior Web Developer</h3>
                                                        <h4 class="job-details text-white">
                                                            <span class="r-prices">&#8377; 15,000 -  &#8377; 25,000</span>
                                                        </h4>
                                                        <ul class="p-0">
                                                            <li class="text-white mb-1">
                                                                <img src="public_assets/images/newjoblisting/location.png"
                                                                    alt="">
                                                                Mohali, Punjab</li>
                                                            <li class="text-white">
        
                                                                <img src="public_assets/images/newjoblisting/fresher.png"
                                                                    alt="">
                                                                Fresher</li>
                                                        </ul>
                                                        <button class="btn btn-sm apply-button">Apply Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="image-container">
                                                    <img src="public_assets/images/newjoblisting/junior-dev.png"
                                                        alt="Junior Web Developer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-8 col-11 mb-3 mx-sm-auto mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-2 mt-4">
                                    <div class="card my-3 bg-dark position-relative" style="max-width: 540px;">
                                        <div class="row">
                                            <div class="col-xxl-7 col-xl-7 col-md-7 col-sm-7 col-7">
                                                <div class="job-description">
                                                    <div class="job-main"> 
                                                        <h3 class="job-title text-white">Junior Web Developer</h3>
                                                        <h4 class="job-details text-white">
                                                            <span class="r-prices">&#8377; 15,000 -  &#8377; 25,000</span>
                                                        </h4>
                                                        <ul class="p-0">
                                                            <li class="text-white mb-1">
                                                                <img src="public_assets/images/newjoblisting/location.png"
                                                                    alt="">
                                                                Mohali, Punjab</li>
                                                            <li class="text-white">
        
                                                                <img src="public_assets/images/newjoblisting/fresher.png"
                                                                    alt="">     
                                                                Fresher</li>
                                                        </ul>
                                                        <button class="btn btn-sm apply-button">Apply Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="image-container">
                                                    <img src="public_assets/images/newjoblisting/junior-dev.png"
                                                        alt="Junior Web Developer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end -->
    <section id="why">
        <div class="home-2_testimonial-section section-padding-120 bg-primary-opacity-l2">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-xxl-12">
                        <div class="section-heading">
                            <h1 class="text-uppercase primary-gradient fw-bolder">Still Confused</h1>
                            <h1 class="text-uppercase primary-gradient fw-bolder">why Choose Focalyt ?</h1>
                            <h3 class="color-yellow fw-lighter mt-4">Here are the 4 Reasons which make us special:</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-10 mx-auto justify-content-between">
                    <div class="row row--testimonial-widget">
                        <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="4000"
                            data-aos-delay="300">
                            <div class="why_choose_sec">
                                <h4 class="text-white pb-3">Practical Learning:</h4>
                                <p class="text-white">We offer On-job integrated training programs
                                    that provide hands-on, real-world experience,
                                    helping students and employees gain practical
                                    skills that are immediately applicable in their
                                    careers.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="4000"
                            data-aos-delay="300">
                            <div class="why_choose_sec">
                                <h4 class="text-white pb-3">Flexibility:</h4>
                                <p class="text-white">Our blended learning courses and flexible sche-
                                    dules enable you to pursue further education or
                                    skill enhancement without disrupting your job or
                                    daily routines, making lifelong learning
                                    accessible.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="4000"
                            data-aos-delay="300">
                            <div class="why_choose_sec">
                                <h4 class="text-white pb-3">Global Impact:</h4>
                                <p class="text-white">For Skill-Educators, Focalyt offers a platform to
                                    train online/blended learning worldwide,
                                    allowing you to connect with a diverse global
                                    audience and expand your reach.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="4000"
                            data-aos-delay="300">
                            <div class="why_choose_sec">
                                <h4 class="text-white pb-3">Tailored Solutions:</h4>
                                <p class="text-white">At Focalyt, we believe in personalized support.
                                    We tailor our services to your unique needs,
                                    whether you're a student, employer, employee, ensuring a perfect fit for your
                                    goals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <%include ./newpartials/footer%>
