<% include ../partials/header %>
	<div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
		<div class="content-header-left col-md-9 col-12 mb-2">
			<div class="row breadcrumbs-top">
				<div class="col-12">
					<h3 class="content-header-title float-left mb-0">view Company</h3>
					<div class="breadcrumb-wrapper col-12">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Add Company</li>
						</ol>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="content-body">
		<% include ../partials/flash %>
			
	<div class="text-right reset">
		
	</div>
	<% include ../partials/footer %>
	
		</div>