<!DOCTYPE html>
<html lang="en">
  <head>
  
    <!-- Meta Pixel Code -->
    <script>
      (async function(f, b, e, v, n, t, s) {
        if (f.fbq) return; // अगर fbq पहले से मौजूद है तो आगे नहीं बढ़ेगा
        n = f.fbq = function() {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
    
        // Script asynchronously लोड करें
        t = b.createElement(e);
        t.async = true;
        t.src = v;
    
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
    
        // Initialize and track events
        await new Promise((resolve) => {
          t.onload = resolve; // जब स्क्रिप्ट लोड हो जाए तो इसे resolve करें
        });
    
        fbq('init', '3800389873545664'); // Facebook Pixel ID
        fbq('track', 'PageView'); // PageView Event
    
      })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=3800389873545664&ev=PageView&noscript=1"
    /></noscript>
    
  <!-- End Meta Pixel Code -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="dark light">
  <title>FOCALYT</title>
  <link rel="shortcut icon" href="/public_assets/images/newpage/favicon.png" type="public_assets/images/newpage/x-icon">
  <link href="/js/newpage/plugin/newunpug/aos.css" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/css/newpages/fonts/typography/fonts.css">
  <link rel="stylesheet" href="/css/newpages/fonts/fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/aos/aos.min.css">
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/fancybox/jquery.fancybox.min.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/newbootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/style.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/demo.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/custom.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/respo.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/fonts.css">
  <link rel="stylesheet" type="text/css" href="../css/newpages/comparison.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.4/swiper-bundle.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;700&amp;display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/slick/slick.min.css">
  <link rel="stylesheet" type="text/css" href="/js/newpage/plugin/slick/slick-theme.css">
  <!-- Vendor stylesheets  -->
   <!-- Microsoft Clarity -->

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "n4i9ljyxr0");
</script>
   <!-- Microsoft Clarity -->

   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W39K27R');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="https://app.helloyubo.com/assets/focalyt_bot.bot.css">
    <script src="https://app.helloyubo.com/assets/focalyt_bot.bot.js"></script>

    <link rel="stylesheet" href="/css/newpages/joblisting.css">
    <link rel="stylesheet" href="/css/newpages/jobsearch.css">
    <link rel="stylesheet" href="/css/newpages/blog.css">
    <link rel="stylesheet" href="/css/newpages/about_us.css">

  
</head>
<body>
  <div class="page-wrapper overflow-hidden">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~
     Header Area
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <header class="site-header site-header--transparent site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar">
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
            Brand Logo
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="brand-logo">
            <a href="#">
              <!-- light version logo (logo must be black)-->
              <img class="logo-light" src="/public_assets/images/newpage/logo-ha.svg" alt="brand logo">
              <!-- Dark version logo (logo must be White)-->
              <img class="logo-dark" src="/public_assets/images/newpage/logo-ha.svg" alt="brand logo">
            </a>
          </div>
          <div class="menu-block-wrapper ">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <a href='index.html'>
                  <img src="public_assets/images/newpage/logo-ha.svg" alt="brand logo">
                </a>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item">
                  <a class='nav-link-item drop-trigger'  href="/">Home</a>
                </li>
                <li    class="nav-item nav-item-has-children">
                  <!-- <a href="https://about.focalyt.com/" target="_blank" class="nav-link-item drop-trigger">About Us
                  </a> -->
                  <a href="/about_us"  class="nav-link-item drop-trigger">About Us
                  </a>
                </li>
                <li class="nav-item">
                  <a class='nav-link-item drop-trigger'  href="/joblisting">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class='nav-link-item drop-trigger' href='/courses'>Courses</a>
                </li>
                <li class="nav-item">
                  <a class='nav-link-item drop-trigger' href='/labs'>Labs</a>
                </li>
                <li class="nav-item d-xl-none d-lg-none d-md-none d-sm-block d-block">
                  <a class='nav-link-item drop-trigger' href='/contact'>Contact Us</a>
                </li>
                <!-- active -->
                <li class="nav-item  d-xl-flex d-lg-flex d-md-flex d-sm-none d-none">
                  <!-- active_menu -->
                  <a class='nav-link-item drop-trigger ' href='/contact'>Contact Us</a>
                </li>
                <li class="nav-item small">
                  <!-- Container for hoverable area -->
                  <div class="dropdown-container">
                    <!-- Login Text as a Span -->
                    <span class=" drop-trigger active_menu loginbtnn homeMenu" id="loginLink">Login</span>
                    
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu" id="loginDropdown">
                      <li><a href="/company/login" target="_blank" class="dropdown-item">Login as Corporate</a></li>
                      <li><a href="/candidate/login" target="_blank" class="dropdown-item">Login as Student</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
          mobile menu trigger
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~
            Mobile Menu Hamburger Ends
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!-- <div class="header-cta-btn-wrapper">
            <a href="#" class="btn-masco btn-masco--header btn-masco--header-secondary">
              <span>Login</span>
            </a>
            <a href="#" class="btn-masco btn-masco--header   btn-secondary-l02 btn-fill--up">
              <span>Sign up free</span></a>
          </div> -->
        </nav>
      </div>
    </header>
  
   

  </div>