<!-- footer  class=" text-center"  -->
<section>
  
 
  <div class="footer-v2 footer-padding-default footer-l02">
    <div class="container">
      <div class="row row--footer-main">
        <div class="col-xl-auto col-lg-auto col-md-6">
          <div class="footer-v2__content-block">
            <div class="footer-v2__content-text">
              <div class="footer-brand">
                <img src="/public_assets/images/newpage/logo-ft.svg" alt="image alt">
              </div>
              <!-- <p>
                Focal Skill Development Pvt. Ltd.
                SCF 3,4, 2nd floor, Shiva Complex, Patiala Zirakpur Road, opposite Hyundai Showroom, Zirakpur, Punjab
                140603
              </p> -->
            </div>
            <ul class="list-social list-social--hvr-black">
              <li>
                <a href="https://www.facebook.com/focalyt.learn/" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/p/CX3iTqQFHQF/" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/focalytlearn?originalSubdomain=in" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-auto col-lg-auto col-md-6 col-auto">
          <h4 class="color-pink fw-bold pb-xxl-4 pb-xp-4 pb-lg-3 pb-md-2 sm-1 pb-1">About Us</h4>
          <ul class="footer-list p-0">
            <li>
              <a href="#">Our Team</a>
            </li>
            <li>
              <a href="#">Mission</a>
            </li>
            <li>
              <a href="#">Vision</a>
            </li>
            <li>
              <a href="#">Blog &amp; Articles</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-auto col-lg-auto col-md-6 col-auto">
          <h4 class="color-pink fw-bold pb-xxl-4 pb-xp-4 pb-lg-3 pb-md-2 sm-1 pb-1">Useful Links</h4>
          <ul class="footer-list p-0">
            <li>
              <a href="#">Career</a>
            </li>
            <li>
              <a href="https://result.focalyt.com/">Results</a>
            </li>
            <li>
              <a href="#">Partner With Us</a>
            </li>
            <li>
              <a href="#">How to Register?</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-auto col-lg-auto col-md-6 col-auto">
          <h4 class="color-pink fw-bold pb-xxl-4 pb-xp-4 pb-lg-3 pb-md-2 sm-1 pb-1">Download Now</h4>
          <div class="footer-store-buttons">
            <a href="#">
              <img src="/public_assets/images/newpage/common/app-store.png" alt="image alt">
            </a>
            <a href="#">
              <img src="/public_assets/images/newpage/common/play-store.png" alt="image alt">
            </a>
          </div>
        </div>
        <div class="copyright-block">
          <div class="container">
            <div class="copyright-inner text-center  copyright-border">
              <p>© Copyright 2024, All Rights Reserved by </p>
              <h4 class="color-pink fw-bold PT-2">FOCALYT</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>

<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.4/swiper-bundle.min.js"></script>
<script src="/js/newpage/plugin/jquery/jquery.min.js"></script>
<script src="/js/newpage/plugin/jquery/jquery-migrate.min.js"></script>
<script src="/js/newpage/plugin/newbootstrap/bootstrap.bundle.min.js"></script>
<!-- Plugin's Scripts -->
<script src="/js/newpage/plugin/inlineSvg/inlineSvg.min.js"></script>
<script src="/js/newpage/plugin/newunpug/aos.js"></script>
<script src="/js/newpage/plugin/fancybox/jquery.fancybox.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/js/newpage/plugin/isotope/isotope.pkgd.min.js"></script>
<script src="/js/newpage/plugin/isotope/packery.pkgd.min.js"></script>
<script src="/js/newpage/plugin/isotope/image.loaded.js"></script>
<script src="/js/newpage/plugin/slick/slick.min.js"></script>
<script src="/js/newpage/plugin/countdown/jquery.countdown.js" defer></script>
<script src="/js/newpage/js/menu.js"></script>
<script src="/js/newpage/js/custom.js"></script>
<script src="/js/newpage/js/comparison.js"></script>
</body>
<!-- <script>
$(".center").slick({
  dots: false,
  slidesToShow: 3.5,
  slidesToScroll: 1,
  arrows: false,
  autoplay: tre,
  infinite: true,
  autoplaySpeed: 2000,
  responsive: [
    {
      breakpoint: 1920,
      settings: {
        slidesToShow: 3.5,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 1199,
      settings: {
        slidesToShow: 3.5,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 3.5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 991,
      settings: {
        slidesToShow: 2.5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 576,
      settings: {
        slidesToShow: 1.5,
        slidesToScroll: 1
      }
    }
  ]
});
</script> -->
<script>
$(".how_sliderdual").slick({
  dots: false,
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  autoplay: true,
  infinite: true,
  autoplaySpeed: 2000,
  responsive: [
    {
      breakpoint: 1920,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 1199,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 576,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
</script>
<script>
$(".howfocal").slick({
  dots: false,
  infinite: false,
  autoplay: true,
  slidesToShow: 1.5,
  slidesToScroll: 1,
  arrows: true,
  responsive: [
    {
      breakpoint: 1920,
      settings: {
        slidesToShow: 1.5,
        slidesToScroll: 3,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 1.5,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
</script>
<script>
$(".apply_cta").slick({
  dots: false,
  infinite: true,
  slidesToShow: 2.5,
  slidesToScroll: 1,
  arrows: false,
  responsive: [
    {
      breakpoint: 1920,
      settings: {
        slidesToShow: 2.5,
        slidesToScroll: 1,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 2.5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }
  ]
});
</script>
<script>
  $(document).ready(function () {
    // Initialize Slick Slider for #happy_candidate
    $("#happy_candidate .slider_images").slick({
        dots: false,               
        infinite: true,           
        slidesToShow: 1,           
        slidesToScroll: 1,       
        arrows: false,              
        autoplay: true,           
        autoplaySpeed: 2000,      
         responsive: [
            {
                breakpoint: 1366,
                settings: {
                    slidesToShow: 1, // Show 2 slides for medium screens
                },
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1, // Show 1 slide for small screens
                },
            },
        ],
    });
});

</script>
<script>
  $(document).ready(function () {
    // Initialize Slick Slider for #happy_candidate
    $("#happy_candidate_images .happy_candidate_images").slick({
        dots: false,               
        infinite: true,           
        slidesToShow: 1,           
        slidesToScroll: 1,       
        arrows: false,              
        autoplay: true,           
        autoplaySpeed: 2000,      
         responsive: [
            {
                breakpoint: 1366,
                settings: {
                    slidesToShow: 1, // Show 2 slides for medium screens
                },
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1, // Show 1 slide for small screens
                },
            },
        ],
    });
});

</script>

<script>
  $(document).ready(function () {
    // Initialize Slick Slider for #happy_candidate
    $("#mobilization .slider_images").slick({
        dots: true,               
        infinite: true,           
        slidesToShow: 3,           
        slidesToScroll: 1,       
        arrows: false,              
        autoplay: false,           
        autoplaySpeed: 2000,      
         responsive: [
            {
                breakpoint: 1366,
                settings: {
                    slidesToShow: 3, 
                },
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1, // Show 1 slide for small screens
                },
            },
        ],
    });
});
</script>
<script>
  $("#hostel .slider_images").slick({
   dots: false,               
   infinite: true,           
   slidesToShow: 3,           
   slidesToScroll: 1,       
   arrows: false,              
   autoplay: false,           
   autoplaySpeed: 2000,      
   responsive: [
     {
         breakpoint: 1366,
         settings: {
             slidesToShow: 3, 
         },
     },
     {
         breakpoint: 768,
         settings: {
             slidesToShow: 1, // Show 1 slide for small screens
         },
     },
   ],
 });
 
 </script>

<script>
  $(document).ready(function () {
    // Initialize Slick Slider for #happy_candidate
    $("#trainings .slider_images").slick({
        dots: true,               
        infinite: true,           
        slidesToShow: 3,           
        slidesToScroll: 1,       
        arrows: false,              
        autoplay: false,           
        autoplaySpeed: 2000,      
         responsive: [
            {
                breakpoint: 1366,
                settings: {
                    slidesToShow: 3, 
                },
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1, // Show 1 slide for small screens
                },
            },
        ],
    });
});
</script>
<script>
  $(document).ready(function () {
    // Initialize Slick Slider for #happy_candidate
    $("#Placement .slider_images").slick({
        dots: true,               
        infinite: true,           
        slidesToShow: 1,           
        slidesToScroll: 1,       
        arrows: true,              
        autoplay: true,           
        autoplaySpeed: 2000,      
         responsive: [
            {
                breakpoint: 1366,
                settings: {
                    slidesToShow: 1, 
                },
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1, // Show 1 slide for small screens
                },
            },
        ],
    });
});
</script>
<script>
  $(document).ready(function () {
    const candidateImages = $("#blog--images .happy_candidate_images");

    if (candidateImages.children().length > 1) {
        candidateImages.slick({
            dots: true,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true, // Navigation arrows
            autoplay: false,
            autoplaySpeed: 10000,
            responsive: [
                {
                    breakpoint: 1366,
                    settings: {
                        slidesToShow: 1,
                    },
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                    },
                },
            ],
        });
    } else if (candidateImages.children().length === 1) {
        candidateImages.children().css({
            width: "100%",
            display: "block",
        });
        candidateImages.css({
            display: "flex",
            justifyContent: "center",
        });
    }
});

</script>
<script>
  $(document).ready(function () {
    const candidateImages = $("#blog--images");
    const imageCount = candidateImages.find(".happy_candidate_images").children().length;

    if (imageCount > 1) {
      // Initialize Slick Slider for multiple images
      candidateImages.find(".happy_candidate_images").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true, // Add arrows for navigation
        autoplay: false,
        autoplaySpeed: 2000,
        responsive: [
          {
            breakpoint: 1366,
            settings: {
              slidesToShow: 1,
            },
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1,
            },
          },
        ],
      });
    } else if (imageCount === 1) {
      // For a single image, ensure it displays properly
      candidateImages.find(".happy_candidate_images").children().css({
        width: "100%",
        display: "block",
      });
      candidateImages.find(".happy_candidate_images").css({
        display: "flex",
        justifyContent: "center",
      });
    }
  });
</script>

<!-- <script>
  $(document).ready(function () {
               const candidateImages = $("#blog--images .happy_candidate_images");
               const imageCount = candidateImages.children().length;
             
               if (imageCount > 1) {
                 // Initialize Slick Slider for multiple images
                 candidateImages.slick({
                   dots: true,
                   infinite: true,
                   slidesToShow: 1,
                   slidesToScroll: 1,
                   arrows: true, // Add arrows for navigation
                   autoplay: false,
                   autoplaySpeed: 2000,
                   responsive: [
                     {
                       breakpoint: 1366,
                       settings: {
                         slidesToShow: 1,
                       },
                     },
                     {
                       breakpoint: 768,
                       settings: {
                         slidesToShow: 1,
                       },
                     },
                   ],
                 });
               } else if (imageCount === 1) {
                 // For a single image, ensure it displays properly
                 candidateImages.children().css({
                   width: "100%",
                   display: "block",
                 });
                 candidateImages.css({
                   display: "flex",
                   justifyContent: "center",
                 });
               }
             });
</script> -->