<% include partials/header %>
	<div class="content-header row"></div>
	<div class="content-body">
		<% include partials/flash %>
			<section id="dashboard-analytics">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="card bg-analytics text-white">
							<div class="card-content">
								<div class="card-body text-center">
									<img src="/images/elements/decore-left.png" class="img-left" alt="card-img-left" />
									<img src="/images/elements/decore-right.png" class="img-right"
										alt="card-img-right" />
									<div class="avatar avatar-xl bg-primary shadow mt-0">
										<div class="avatar-content">
											<i class="feather icon-award white font-large-1"></i>
										</div>
									</div>
									<div class="text-center">
										<h1 class="mb-2 text-white">
											Congratulations <%=companyUser.name %>,
										</h1>
										<p class="m-auto w-75"><strong>Welcome to Portal !</strong></p>
										<!-- <p class="m-auto w-75">
									<strong>You </strong> has Shortlisted
									<strong>10</strong> Candidates for the Final Round of
									Interview from C. U.
								</p> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% include partials/footer %>
	</div>