

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT
            &copy;
            <script>
                var dt = new Date();
                document.write(dt.getFullYear());
            </script>
            <a class="text-bold-800 grey darken-2" href="#" target="_blank">Focalyt,</a>All rights Reserved
        </span><span class="float-md-right d-none d-md-none">Hand-crafted & Made with<i
                class="feather icon-heart pink"></i>&nbsp;for Campuses</span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
</footer>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> -->
<script src="/js/vendors/js/vendors.min.js"></script>
<!-- <script src="/js/vendors/js/charts/apexcharts.min.js"></script>
<script src="/js/vendors/js/extensions/tether.min.js"></script>
<script src="/js/vendors/js/extensions/shepherd.min.js"></script> -->
<script src="/js/core/app-menu.js"></script>
<script src="/js/core/app.js"></script>
<script src="/js/scripts/components.js"></script>
<!-- <script src="/js/scripts/pages/dashboard-analytics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script> -->

<script>
    // hide alert after 5 seconds
    window.setTimeout(() => {
        $('.alertAdmin').fadeTo(500, 0).slideUp(500, () => {
            $('.alertAdmin').remove();
        });
    }, 5000);
    window.setTimeout(() => {
        $('.alertAdminSuccess').fadeTo(500, 0).slideUp(500, () => {
            $('.alertAdminSuccess').remove();
        });
    }, 5000);

</script>
</body>

</html>