<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Focalyt - Top Blue Collar Job Board in India | Powered by Focal Skill
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="MiPie" />

    <!-- Styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public_assets/css/bootstrap-grid.css"
    />
    <link rel="stylesheet" href="/public_assets/css/icons.css" />
    <link rel="stylesheet" href="/public_assets/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/mipieIn/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/mipieIn/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/public_assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/public_assets/css/chosen.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public_assets/css/colors/colors.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="mipieIn/css/media.css" />
    <link rel="stylesheet" href="/mipieIn/css/corporate-pricing-plan.css">
    <link rel="stylesheet" href="/mipieIn/css/corporate-pricing-plan-responsive.css">

    <style>
      .job-overview ul:hover {
        border-color: #FC2B5A;
        -webkit-box-shadow: 4px 4px 0px 0px rgba(241, 117, 37, 0.75);
        -moz-box-shadow: 4px 4px 0px 0px rgba(241, 117, 37, 0.75);
        box-shadow: 4px 4px 0px 0px rgba(241, 117, 37, 0.75);
        cursor: pointer;
      }
    </style>
    <link
      rel="icon"
      type="image/x-icon"
      href="/images/ico/faviconnew.ico"
    />
    <link
      rel="stylesheet"
      href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W39K27R');</script>
    <!-- End Google Tag Manager -->
     <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '3800389873545664');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=3800389873545664&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  </head>