<div class="responsive-header five">
  <div class="responsive-menubar">
    <div class="res-logo">
      <a href="/" title=""
        ><img
          src="/public_assets/images/resource/mipie_logo.png"
          alt=""
          draggable="false"
          class="img-fluid"
      /></a>
    </div>
    <div class="menu-resaction">
      <div class="res-openmenu">
        <img src="/public_assets/images/icon.png" alt="" /> Menu
      </div>
      <div class="res-closemenu">
        <img src="/public_assets/images/icon2.png" alt="" /> Close
      </div>
    </div>
  </div>
  <div class="responsive-opensec">
    <div class="btn-extars">
      <a href="/company/register" title="" class="post-job-btn"
        ><i class="la la-plus"></i>Post Jobs</a
      >
    </div>
    <div class="responsivemenu">
      <ul>
        <li>
          <a href="/" title="">Home</a>
        </li>
        <li>
          <a href="https://about.focalyt.com/" title="">About Us</a>
        </li>
        <li>
          <a href="/candidate/register" title="">Candidates</a>
        </li>
        <li>
          <a href="/corporate-pricing-plan" title=""
            >Corporate</a
          >
        </li>
        <li>
          <a href="/candidate/login" title="">Apply</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<header class="style5">
  <div class="menu-sec">
    <div class="container fluid">
      <nav>
        <ul>
          <li>
            <a href="/" title="">Home</a>
          </li>
          <li>
            <a href="/about-us" title="">About Focalyt</a>
          </li>
          <li>
            <a href="/candidate/register" target="_blank" title=""
              >Candidates</a
            >
          </li>
          <li>
            <a href="/corporate-pricing-plan" title="">Corporate</a>
          </li>
        </ul>
      </nav>
      <!-- Menus -->
      <div class="logo">
        <a href="/" title=""
          ><img
            src="/mipieIn/images/resource/mipie_logo.png"
            alt=""
            draggable="false"
        /></a>
      </div>
      <!-- Logo -->

      <div class="btn-extars">
        <ul class="account-btns">
          <li>
            <a href="/candidate/register" target="_blank"
              ><img
                src="/mipieIn/images/candidate-login.svg"
                class="img-fluid"
                draggable="false"
            /></a>
          </li>
          <li>
            <a href="/company/register" target="_blank"
              ><img
                src="/mipieIn/images/company-login.svg"
                class="img-fluid"
                draggable="false"
            /></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>
