<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand">
          <a href="/company/dashboard"><img class="img-fluid logocs" src="/images/logo/logo.png">
          </a></li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
            class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
            class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
            data-ticon="icon-disc"></i></a></li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content border border-left-0 border-right-0 border-bottom-0">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item <% if(menu==='dashboard') {%>active<%}%>"><a href="/company/dashboard"><i class="feather icon-airplay"></i><span
            class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
      </li>
      </li>
      <li class="nav-item <% if(menu==='myProfile') {%>active<%}%>" ><a href="/company/myProfile"><i class="feather icon-user"></i><span class="menu-title"
            data-i18n="Todo">Your Profile</span></a>
      </li>
            <li class="nav-item <% if(menu ==='Notifications') {%>active<%}%>">
                <a href="/company/notifications">
                    <i class="fa fa-bell"></i>
                    <span class="menu-title" data-i18n="Todo">Notifications</span>
                </a>
            </li>
      <!-- <li class="nav-item <% if(menu==='search-candidates') {%>active<%}%>"><a href="/company/search-candidates"><i class="feather  icon-user"></i><span
            class="menu-title" data-i18n="Todo"> Search Candidates </span></a>
      </li> -->
      <li class="nav-item <% if(menu==='jobList'|| menu === 'view-jd' || menu === 'addjobs' || menu ==='edit-jd') {%>active<%}%>"><a href="/company/list/jobs"><i class="feather icon-file-text"></i><span class="menu-title"
            data-i18n="Todo">Job Details</span></a>
      </li>
      <li class="nav-item <% if(menu==='list-candidates') {%>active<%}%>"><a href="/company/list-candidates"><i class="feather icon-list"></i><span class="menu-title"
            data-i18n="Todo">List Candidates</span></a>
      </li>
      <li class="nav-item <% if(menu==='interested-candidates') {%>active<%}%>"><a href="/company/interested-candidates"><i class="feather icon-list"></i><span class="menu-title"
            data-i18n="Todo">Interested Candidates</span></a>
      </li>
      <li class="nav-item <% if(menu==='nearbyCandidates') {%>active<%}%>"><a href="/company/nearbyCandidates"><i class="feather icon-map-pin"></i><span class="menu-title"
            data-i18n="Todo">Candidates Near Me</span></a>
      </li>
      <li class="nav-item <% if(menu==='shortlisted-candidates') {%>active<%}%>"><a href="/company/candidate/shortlisted"><i class="feather icon-award"></i><span class="menu-title"
            data-i18n="Todo">Shortlisted Candidates</span></a>
      </li>
      <li class="nav-item <% if(menu==='ongoing-candidates') {%>active<%}%>"><a href="/company/onGoingHiring"><i class="feather icon-star"></i><span class="menu-title"
            data-i18n="Todo">On Going Hiring</span></a>
      </li>
      <li class="nav-item <% if(menu==='miPieCoins') {%>active<%}%>"><a href="/company/Coins"><i
            class="feather icon-circle"></i><span class="menu-title" data-i18n="Todo">Coins</span></a>
      </li>
  </div>
</div>