<% include ../../partials/header %>

    <body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="2-columns">
        <% include navbar %>
            <ul class="main-search-list-defaultlist-other-list d-none">
                <li class="auto-suggestion d-flex align-items-center justify-content-between cursor-pointer"><a
                        class="d-flex align-items-center justify-content-between w-100 py-50">
                        <div class="d-flex justify-content-start"><span
                                class="mr-75 feather icon-alert-circle"></span><span>No
                                results found.</span></div>
                    </a></li>
            </ul>
            <% include sidebar %>
                <div class="app-content content">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper">